{# Меню социальных программ #}
<li><a href="/corporateCulture/Sports">Спартакиада НК «Роснефть»</a></li>
<li><a href="/corporateCulture/rosneftStars">Корпоративный фестиваль «Роснефть зажигает звезды»</a></li>
<li><a href="/corporateCulture/bestProfessional">Смотр-конкурс «Лучший по профессии»</a></li>
<li><a href="/corporateCulture/Events">Спортивно-оздоровительные, командообразующие, культурно-массовые мероприятия</a></li>
<li><a href="/socialPrograms/liveLonger">Живите дольше!</a></li>
<li><a href="/corporateCulture/dressCode">Дресс-код</a></li>
<li><a href="/corporateCulture/contests" class="contests__withArchive__1">Конкурсы</a></li>
<li><a href="/teamMeetings">Встречи с трудовым коллективом</a></li>
