{# Меню социальных программ #}
<li><a href="/corporateCode/docs">Документы</a></li>
<li><a href="/corporateCode/events">Мероприятия по кодексу и ценностям</a></li>
<li><a href="/codexDialog/create/?category=questionExpert">Задать вопрос эксперту по этике</a></li>
<li><a href="/corporateCode/quiz">Викторина по Кодексу НК «Роснефть»</a></li>
