{# Повторяющиеся блоки основного и футера меню #}

<li class="avia"><a href="/transport/fly"><i class="ico"></i>Авиационные перевозки</a></li>
<li class="hotline"><a href="/safetyWork"><i class="ico"></i>Охрана труда</a></li>
<li class="hotline"><a href="/fireSafety"><i class="ico"></i>Пожарная безопасность</a></li>
<li class="hotline"><a href="/civilDefense"><i class="ico"></i>Гражданская оборона</a></li>
<li class="hotline"><a href="/hotlinesecurity"><i class="ico"></i>Горячая линия безопасности</a></li>
<li class="support"><a href="/Itis/tech_support"><i class="ico"></i>Техническая поддержка</a></li>