{# Меню Пресс-центра #}
<li><a href="/News">Новости ВСНК</a></li>
{# <li><a href="/pressCenter/newspapper">Вестник ВСНК «Наше время»</a></li> #}
{# <li><a href="/pressCenter/massmedia">СМИ о ВСНК</a></li> #}
<li><a href="/corporatePublications">Корпоративные издания</a></li>
<li><a href="/gallery/photooftheweek">Фотографии недели</a></li>
<li><a href="/pressCenter/video">Видеоархив</a></li>
<li><a href="/pressCenter/evenkLife">«Эвенкийская жизнь»</a></li>