{# Меню ресепшена #}
<li><a href="/reception">О приёмной</a></li>
<li><a href="/direction">Руководство</a></li>
<li><a href="/reception/appealForm">Электронное обращение</a></li>
<li><a href="/reception/personalForm">Личный прием</a></li>
