{# Меню социальных программ #}
<li><a href="/socialPrograms/dms">Добровольное страхование работников</a></li>
<li><a href="/socialPrograms/therapy">Санаторно-курортное лечение</a></li>
<li><a href="/socialPrograms/sports">Спортивно-оздоровительные мероприятия</a></li>
<li><a href="/socialPrograms/housingProgram">Жилищная программа</a></li>
<li><a href="/socialPrograms/pensionSupport">Пенсионное обеспечение</a></li>
<li><a href="/socialPrograms/faq">Часто задаваемые вопросы</a></li>