
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/images/
/public/upload_dir/
/public/uploads/
/public/css/fonts/

/public/css/backup/
/public/css/bootstrap/
/public/css/bootstrap3/

/public/css/vankor/jquery.*
/public/css/vankor/jquery.*.*
/public/css/vankor/jquery/
/public/css/vankor/backup/
/public/css/vankor/bootstrap/
/public/css/vankor/bootstrap3/
/public/css/vankor/contragents/
/public/css/vankor/themes/

/public/css/tungd/*.woff
/public/css/vsnk/*.woff
/public/css/vankor/*.woff

/public/css/tungd/*.woff2
/public/css/vsnk/*.woff2
/public/css/vankor/*.woff2

/public/css/tungd/*.ttf
/public/css/vsnk/*.ttf
/public/css/vankor/*.ttf

/public/css/tungd/*.otf
/public/css/tungd/*.eot
/public/css/vsnk/*.eot
/public/css/vankor/*.eot

/public/css/tungd/*.svg
/public/css/vsnk/*.svg
/public/css/vankor/*.svg

/public/css/tungd/fancybox/
/public/css/tungd/colorbox/

/public/js/tungd/fancybox/
/public/js/tungd/colorbox/
/public/js/tungd/ui/

/public/css/tungd/fonts/
/public/css/vsnk/fonts/
/public/css/vankor/fonts/

/public/css/tungd/images/
/public/css/tungd/themes/
/public/css/tungd/legacy/

/var/
/1/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
