/* Open Sans */

@font-face {
  font-family: 'OpenSans-Light';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans/opensanslight.woff2') format('woff2'), url('../fonts/OpenSans/opensanslight.woff') format('woff'), url('../fonts/OpenSans/opensanslight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight-Italic';
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/OpenSans/opensanslightitalic.woff2') format('woff2'), url('opensanslightitalic.woff') format('woff'), url('../fonts/OpenSans/opensanslightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans/opensans.woff2') format('woff2'), url('../fonts/OpenSans/opensans.woff') format('woff'), url('../fonts/OpenSans/opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans/opensansitalic.woff2') format('woff2'), url('../fonts/OpenSans/opensansitalic.woff') format('woff'), url('../fonts/OpenSans/opensansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/OpenSans/opensanssemibold.woff2') format('woff2'), url('../fonts/OpenSans/opensanssemibold.woff') format('woff'), url('../fonts/OpenSans/opensanssemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/OpenSans/opensanssemibolditalic.woff2') format('woff2'), url('../fonts/OpenSans/opensanssemibolditalic.woff') format('woff'), url('../fonts/OpenSans/opensanssemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans/opensansbold.woff2') format('woff2'), url('../fonts/OpenSans/opensansbold.woff') format('woff'), url('../fonts/OpenSans/opensansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/OpenSans/opensansbolditalic.woff2') format('woff2'), url('../fonts/OpenSans/opensansbolditalic.woff') format('woff'), url('../fonts/OpenSans/opensansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans-Extrabold';
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/OpenSans/opensansextrabold.woff2') format('woff2'), url('../fonts/OpenSans/opensansextrabold.woff') format('woff'), url('../fonts/OpenSans/opensansextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-ExtraboldItalic';
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('../fonts/OpenSans/opensansextrabolditalic.woff2') format('woff2'), url('../fonts/OpenSans/opensansextrabolditalic.woff') format('woff'), url('../fonts/OpenSans/opensansextrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}


/* Noto Sans */

@font-face {
  font-family: 'NotoSans';
  src: local('Noto Sans'), local('NotoSans'), url('../fonts/NotoSans/notosans.woff2') format('woff2'), url('../fonts/NotoSans/notosans.woff') format('woff'), url('../fonts/NotoSans/notosans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans-Italic';
  src: local('Noto Sans Italic'), local('NotoSans-Italic'), url('../fonts/NotoSans/notosansitalic.woff2') format('woff2'), url('../fonts/NotoSans/notosansitalic.woff') format('woff'), url('../fonts/NotoSans/notosansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'NotoSans-Bold';
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('../fonts/NotoSans/notosansbold.woff2') format('woff2'), url('../fonts/NotoSans/notosansbold.woff') format('woff'), url('../fonts/NotoSans/notosansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans-BoldItalic';
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url('../fonts/NotoSans/notosansbolditalic.woff2') format('woff2'), url('../fonts/NotoSans/notosansbolditalic.woff') format('woff'), url('../fonts/NotoSans/notosansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


/* Roboto */

@font-face {
  font-family: 'RobotoThin';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/Roboto/Robotothin.woff2') format('woff2'), url('../fonts/Roboto/Robotothin.woff') format('woff'), url('../fonts/Roboto/Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThinItalic';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../fonts/Roboto/Robotothinitalic.woff2') format('woff2'), url('../fonts/Roboto/Robotothinitalic.woff') format('woff'), url('../fonts/Roboto/Robotothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'RobotoLight';
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Roboto/Robotolight.woff2') format('woff2'), url('../fonts/Roboto/Robotolight.woff') format('woff'), url('../fonts/Roboto/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/Roboto/Robotolightitalic.woff2') format('woff2'), url('../fonts/Roboto/Robotolightitalic.woff') format('woff'), url('../fonts/Roboto/Robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto/Roboto.woff2') format('woff2'), url('../fonts/Roboto/Roboto.woff') format('woff'), url('../fonts/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoItalic';
  src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/Roboto/Robotoitalic.woff2') format('woff2'), url('../fonts/Roboto/Robotoitalic.woff') format('woff'), url('../fonts/Roboto/Robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'RobotoMedium';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto/Robotomedium.woff2') format('woff2'), url('../fonts/Roboto/Robotomedium.woff') format('woff'), url('../fonts/Roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../fonts/Roboto/Robotomediumitalic.woff2') format('woff2'), url('../fonts/Roboto/Robotomediumitalic.woff') format('woff'), url('../fonts/Roboto/Robotomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'RobotoBold';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto/Robotobold.woff2') format('woff2'), url('../fonts/Roboto/Robotobold.woff') format('woff'), url('../fonts/Roboto/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/Roboto/Robotobolditalic.woff2') format('woff2'), url('../fonts/Roboto/Robotobolditalic.woff') format('woff'), url('../fonts/Roboto/Robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'RobotoBlack';
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/Roboto/Robotoblack.woff2') format('woff2'), url('../fonts/Roboto/Robotoblack.woff') format('woff'), url('../fonts/Roboto/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlackItalic';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../fonts/Roboto/Robotoblackitalic.woff2') format('woff2'), url('../fonts/Roboto/Robotoblackitalic.woff') format('woff'), url('../fonts/Roboto/Robotoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}



  /* FS_Elliot */

  @font-face {
    font-family: 'FSElliotPro';
    src: url(../fonts/FSElliot/FSElliotPro_normal.otf);
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'FSElliotPro_bold';
    src: url(../fonts/FSElliot/FSElliotPro_Bold.otf);
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'FSElliotPro_BoldItalic';
    src: url(../fonts/FSElliot/FSElliotPro_BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'FSElliotPro_Heavy';
    src: url(../fonts/FSElliot/FSElliotPro_Heavy.otf);
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'FSElliotPro_HeavyItalic';
    src: url(../fonts/FSElliot/FSElliotPro_HeavyItalic.otf);
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'FSElliotPro_Italic';
    src: url(../fonts/FSElliot/FSElliotPro_Italic.otf);
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'FSElliotPro_Light';
    src: url(../fonts/FSElliot/FSElliotPro_Light.otf);
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'FSElliotPro_LightItalic';
    src: url(../fonts/FSElliot/FSElliotPro_LightItalic.otf);
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'FSElliotPro_Thin';
    src: url(../fonts/FSElliot/FSElliotPro_Thin.otf);
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'FSElliotPro_ThinItalic';
    src: url(../fonts/FSElliot/FSElliotPro_ThinItalic.otf);
    font-weight: 100;
    font-style: italic;
  }

   /* BoomBoom */

   @font-face {
    font-family: 'BoomBoom';
    src: local('Boomboom'), url('../fonts/boomboom/boomboom.woff2') format('woff2'), url('../fonts/boomboom/boomboom.woff') format('woff'), url('../fonts/boomboom/boomboom.ttf') format('truetype');;
    font-weight: 400;
    font-style: normal;
  }

  /* calligraph */

  @font-face {
    font-family: 'Calligraph';
    src: local('Calligraph  Medium'), local('Calligraph-Medium'), url('../fonts/calligraph/calligraphmedium.woff2') format('woff2'), url('../fonts/calligraph/calligraphmedium.woff') format('woff'), url('../fonts/calligraph/calligraphmedium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Caviar */

@font-face {
  font-family: 'CaviarDreams';
  src: local('Caviar Dreams'), local('CaviarDreams'), url('../fonts/caviar/caviardreams.woff2') format('woff2'), url('../fonts/caviar/caviardreams.woff') format('woff'), url('../fonts/caviar/caviardreams.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreamsItalic';
  src: local('Caviar Dreams Italic'), local('CaviarDreams-Italic'), url('../fonts/caviar/caviardreamsitalic.woff2') format('woff2'), url('../fonts/caviar/caviardreamsitalic.woff') format('woff'), url('../fonts/caviar/caviardreamsitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CaviarDreamsBold';
  src: local('Caviar Dreams Bold'), local('CaviarDreams-Bold'), url('../fonts/caviar/caviardreamsbold.woff2') format('woff2'), url('../fonts/caviar/caviardreamsbold.woff') format('woff'), url('../fonts/caviar/caviardreamsbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreamsBoldItalic';
  src: local('Caviar Dreams Bold Italic'), local('CaviarDreams-BoldItalic'), url('../fonts/caviar/caviardreamsbolditalic.woff2') format('woff2'), url('../fonts/caviar/caviardreamsbolditalic.woff') format('woff'), url('../fonts/caviar/caviardreamsbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Lobster */
@font-face {
  font-family: 'Lobster';
  src: local('Lobster'), url('../fonts/lobster/lobster.woff2') format('woff2'), url('../fonts/lobster/obster.woff') format('woff'), url('../fonts/lobster/lobster.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/* bender */
@font-face {
  font-family: 'Bender-Light';
  src: local('Bender Light'), local('Bender-Light'), url('../fonts/bender/benderlight.woff2') format('woff2'), url('../fonts/bender/benderlight.woff') format('woff'), url('../fonts/bender/benderlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bender-LightItalic';
  src: local('Bender Light Italic'), local('Bender-LightItalic'), url('../fonts/bender/benderlightitalic.woff2') format('woff2'), url('../fonts/bender/benderlightitalic.woff') format('woff'), url('../fonts/bender/benderlightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Bender';
  src: local('Bender'), url('../fonts/bender/bender.woff2') format('woff2'), url('../fonts/bender/bender.woff') format('woff'), url('../fonts/bender/bender.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bender-Italic';
  src: local('Bender Italic'), local('Bender-Italic'), url('../fonts/bender/benderitalic.woff2') format('woff2'), url('../fonts/bender/benderitalic.woff') format('woff'), url('../fonts/bender/benderitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Bender-Bold';
  src: local('Bender Bold'), local('Bender-Bold'), url('../fonts/bender/benderbold.woff2') format('woff2'), url('../fonts/bender/benderbold.woff') format('woff'), url('../fonts/bender/benderbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bender-BoldItalic';
  src: local('Bender Bold Italic'), local('Bender-BoldItalic'), url('../fonts/bender/benderbolditalic.woff2') format('woff2'), url('../fonts/bender/benderbolditalic.woff') format('woff'), url('../fonts/bender/benderbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Bender-Black';
  src: local('Bender Black'), local('Bender-Black'), url('../fonts/bender/benderblack.woff2') format('woff2'), url('../fonts/bender/benderblack.woff') format('woff'), url('../fonts/bender/benderblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Bender-BlackItalic';
  src: local('Bender Black Italic'), local('Bender-BlackItalic'), url('../fonts/bender/benderblackitalic.woff2') format('woff2'), url('../fonts/bender/benderblackitalic.woff') format('woff'), url('../fonts/bender/benderblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* jura */

@font-face {
  font-family: 'JuraLight';
  src: local('Jura Light'), local('JuraLight'), url('../fonts/jura/juralight.woff2') format('woff2'), url('../fonts/jura/juralight.woff') format('woff'), url('../fonts/jura/juralight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'JuraBook';
  src: local('Jura Book'), local('JuraBook'), url('../fonts/jura/jurabook.woff2') format('woff2'), url('../fonts/jura/jurabook.woff') format('woff'), url('../fonts/jura/jurabook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'JuraMedium';
  src: local('Jura Medium'), local('JuraMedium'), url('../fonts/jura/juramedium.woff2') format('woff2'), url('../fonts/jura/juramedium.woff') format('woff'), url('../fonts/jura/juramedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'JuraDemiBold';
  src: local('Jura Demi-Bold'), local('JuraDemiBold'), url('../fonts/jura/jurademi-bold.woff2') format('woff2'), url('../fonts/jura/jurademi-bold.woff') format('woff'), url('../fonts/jura/jurademi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* poiret */

@font-face {
  font-family: 'PoiretOne-Regular';
  src: local('Poiret One'), local('PoiretOne-Regular'), url('../fonts/poiret/poiretone.woff2') format('woff2'), url('../fonts/poiret/poiretone.woff') format('woff'), url('../fonts/poiret/poiretone.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Ubuntu */

@font-face {
  font-family: 'Ubuntu-Light';
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url('../fonts/ubuntu/ubuntulight.woff2') format('woff2'), url('../fonts/ubuntu/ubuntulight.woff') format('woff'), url('../fonts/ubuntu/ubuntulight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url('../fonts/ubuntu/ubuntulightitalic.woff2') format('woff2'), url('../fonts/ubuntu/ubuntulightitalic.woff') format('woff'), url('../fonts/ubuntu/ubuntulightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url('../fonts/ubuntu/ubuntu.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu.woff') format('woff'), url('../fonts/ubuntu/ubuntu.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Italic';
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url('../fonts/ubuntu/ubuntuitalic.woff2') format('woff2'), url('../fonts/ubuntu/ubuntuitalic.woff') format('woff'), url('../fonts/ubuntu/ubuntuitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('../fonts/ubuntu/ubuntumedium.woff2') format('woff2'), url('../fonts/ubuntu/ubuntumedium.woff') format('woff'), url('../fonts/ubuntu/ubuntumedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url('../fonts/ubuntu/ubuntumediumitalic.woff2') format('woff2'), url('../fonts/ubuntu/ubuntumediumitalic.woff') format('woff'), url('../fonts/ubuntu/ubuntumediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../fonts/ubuntu/ubuntubold.woff2') format('woff2'), url('../fonts/ubuntu/ubuntubold.woff') format('woff'), url('../fonts/ubuntu/ubuntubold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url('../fonts/ubuntu/ubuntubolditalic.woff2') format('woff2'), url('../fonts/ubuntu/ubuntubolditalic.woff') format('woff'), url('../fonts/ubuntu/ubuntubolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}



/* santrixie */

@font-face {
  font-family: 'SaniTrixieSans';
  src: local('Sani Trixie Sans Regular'), local('SaniTrixieSans'), url('../fonts/sanitrixie/sanitrixiesansregular.woff2') format('woff2'), url('../fonts/sanitrixie/sanitrixiesansregular.woff') format('woff'), url('../fonts/sanitrixie/sanitrixiesansregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Droid Sans */

@font-face {
  font-family: 'DroidSans';
  src: local('Droid Sans'), local('DroidSans'), url('../fonts/droidsans/droidsans.woff2') format('woff2'), url('../fonts/droidsans/droidsans.woff') format('woff'), url('../fonts/droidsans/droidsans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSans-Bold';
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('../fonts/droidsans/droidsansbold.woff2') format('woff2'), url('../fonts/droidsans/droidsansbold.woff') format('woff'), url('../fonts/droidsans/droidsansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* cybthopro */

@font-face {
  font-family: 'CynthoPro-Italic';
  src: local('CynthoPro-Italic'), url('../fonts/cynthopro/Cynthopro-italic.woff2') format('woff2'), url('../fonts/cynthopro/Cynthopro-italic.woff') format('woff'), url('../fonts/cynthopro/Cynthopro-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CynthoPro-Regular';
  src: local('CynthoPro-Regular'), url('../fonts/cynthopro/Cynthopro-regular.woff2') format('woff2'), url('../fonts/cynthopro/Cynthopro-regular.woff') format('woff'), url('../fonts/cynthopro/Cynthopro-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/* NotCourierSans  */

@font-face {
  font-family: 'NotCourier';
  src: local('NotCourier'), local('NotCourierSans'), url('../fonts/notcourier/notcourier.woff2') format('woff2'), url('../fonts/notcourier/notcourier.woff') format('woff'), url('../fonts/notcourier/notcourier.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotCourierSans';
  src: local('NotCourierSans'), local('NotCourierSans-Bold'), url('../fonts/notcourier/notcouriersans.woff2') format('woff2'), url('../fonts/notcourier/notcouriersans.woff') format('woff'), url('../fonts/notcourier/notcouriersans.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Lato */

@font-face {
  font-family: 'LatoHairline';
  src: local('LatoHairline'), local('Lato-Hairline'), url('../fonts/lato/latohairline.woff2') format('woff2'), url('../fonts/lato/latohairline.woff') format('woff'), url('../fonts/lato/latohairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'LatoHairlineItalic';
  src: local('LatoHairlineItalic'), local('Lato-HairlineItalic'), url('../fonts/lato/latohairlineitalic.woff2') format('woff2'), url('../fonts/lato/latohairlineitalic.woff') format('woff'), url('../fonts/lato/latohairlineitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'LatoThin';
  src: local('LatoThin'), local('Lato-Thin'), url('../fonts/lato/latothin.woff2') format('woff2'), url('../fonts/lato/latothin.woff') format('woff'), url('../fonts/lato/latothin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'LatoThinItalic';
  src: local('LatoThinItalic'), local('Lato-ThinItalic'), url('../fonts/lato/latothinitalic.woff2') format('woff2'), url('../fonts/lato/latothinitalic.woff') format('woff'), url('../fonts/lato/latothinitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'LatoLight';
  src: local('LatoLight'), local('Lato-Light'), url('../fonts/lato/latolight.woff2') format('woff2'), url('../fonts/lato/latolight.woff') format('woff'), url('../fonts/lato/latolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLightItalic';
  src: local('LatoLightItalic'), local('Lato-LightItalic'), url('../fonts/lato/latolightitalic.woff2') format('woff2'), url('../fonts/lato/latolightitalic.woff') format('woff'), url('../fonts/lato/latolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'LatoRegular';
  src: local('LatoRegular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LatoItalic';
  src: local('LatoItalic'), local('Lato-Italic'), url('../fonts/lato/latoitalic.woff2') format('woff2'), url('../fonts/lato/latoitalic.woff') format('woff'), url('../fonts/lato/latoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'LatoMedium';
  src: local('LatoMedium'), local('Lato-Medium'), url('../fonts/lato/latomedium.woff2') format('woff2'), url('../fonts/lato/latomedium.woff') format('woff'), url('../fonts/lato/latomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'LatoMediumItalic';
  src: local('LatoMediumItalic'), local('Lato-MediumItalic'), url('../fonts/lato/latomediumitalic.woff2') format('woff2'), url('../fonts/lato/latomediumitalic.woff') format('woff'), url('../fonts/lato/latomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'LatoSemibold';
  src: local('LatoSemibold'), local('Lato-Semibold'), url('../fonts/lato/latosemibold.woff2') format('woff2'), url('../fonts/lato/latosemibold.woff') format('woff'), url('../fonts/lato/latosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'LatoSemiboldItalic';
  src: local('LatoSemiboldItalic'), local('Lato-SemiboldItalic'), url('../fonts/lato/latosemibolditalic.woff2') format('woff2'), url('../fonts/lato/latosemibolditalic.woff') format('woff'), url('../fonts/lato/latosemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'LatoBold';
  src: local('LatoBold'), local('Lato-Bold'), url('../fonts/lato/latobold.woff2') format('woff2'), url('../fonts/lato/latobold.woff') format('woff'), url('../fonts/lato/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBoldItalic';
  src: local('LatoBoldItalic'), local('Lato-BoldItalic'), url('../fonts/lato/latobolditalic.woff2') format('woff2'), url('../fonts/lato/latobolditalic.woff') format('woff'), url('../fonts/lato/latobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'LatoHeavy';
  src: local('LatoHeavy'), local('Lato-Heavy'), url('../fonts/lato/latoheavy.woff2') format('woff2'), url('../fonts/lato/latoheavy.woff') format('woff'), url('../fonts/lato/latoheavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'LatoHeavyItalic';
  src: local('LatoHeavyItalic'), local('Lato-HeavyItalic'), url('../fonts/lato/latoheavyitalic.woff2') format('woff2'), url('../fonts/lato/latoheavyitalic.woff') format('woff'), url('../fonts/lato/latoheavyitalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'LatoBlack';
  src: local('LatoBlack'), local('Lato-Black'), url('../fonts/lato/latoblack.woff2') format('woff2'), url('../fonts/lato/latoblack.woff') format('woff'), url('../fonts/lato/latoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBlackItalic';
  src: local('LatoBlackItalic'), local('Lato-BlackItalic'), url('../fonts/lato/latoblackitalic.woff2') format('woff2'), url('../fonts/lato/latoblackitalic.woff') format('woff'), url('../fonts/lato/latoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}



/* CourierPrime  */

@font-face {
  font-family: 'CourierPrime';
  src: local('CourierPrime'), url('../fonts/CourierPrime/CourierPrime.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CourierPrimeBold';
  src: local('CourierPrimeBold'), url('../fonts/CourierPrime/CourierPrimeBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CourierPrimeItalic';
  src: local('CourierPrimeItalic'), url('../fonts/CourierPrime/CourierPrimeItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CourierPrimeBold-Italic';
  src: local('CourierPrimeBold-Italic'), url('../fonts/CourierPrime/CourierPrimeBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}



/* Monsterrat  */


@font-face { 
  font-family: "MontserratRegular";
  src: url("../fonts/montserrat/MontserratRegular.eot");
  src: url("../fonts/montserrat/MontserratRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/montserrat/MontserratRegular.woff") format("woff"),
  url("../fonts/montserrat/MontserratSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face { 
  font-family: "MontserratBold";
  src: url("../fonts/montserrat/MontserratBold.eot");
  src: url("../fonts/montserrat/MontserratBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/montserrat/MontserratBold.woff") format("woff"),
  url("../fonts/montserrat/MontserratBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face { 
  font-family: "MontserratItalic";
  src: url("../fonts/montserrat/MontserratItalic.eot");
  src: url("../fonts/montserrat/MontserratItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/montserrat/MontserratItalic.woff") format("woff"),
  url("../fonts/montserrat/MontserratItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}