{# Дни рождения #}
{% import('index/birthdayMacro.twig') as birthday %}

<div class="layout_contentLeftBlock layout_contentLeftBlock_bordered layout_contentLeftBlock_birthday">
     <div class="birthday-nav">         
         {% set c = 1 %}
         {% for name, formattedName in birthdays.getDays %}             
                     <a href="javascript:birthday('{{ name }}')" class="btn {% if c == 1 %} active {% endif %}" id="btn{{name}}">{{ formattedName }}</a> 
                     {% set c = c + 1 %}
         {% endfor %}          
     </div>
     <h2 class="title title_bordered">Дни рождения <img src="images/birthday.png" alt=""></h2>
            <div class="birthday-slider" id="birthdays">
                  {% for person in birthdays.getPersons %}
                        {{ birthday.birthdayPerson(person) }}
                  {% endfor %}
            </div>        
        <div class="birthday-slider-nav">
            <a href="#" class="btn btn_prev">
                <div class="icon icon_prev"></div>
            </a>
          <div class="pagination"></div>
           <a href="#" class="btn btn_next">
             <div class="icon icon_next"></div>
           </a>
          <a href="/Birthday" class="btn">показать все</a>
        </div>
</div>                               