<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
            <rules>
                <clear />
                <rule name="Rule for Clear URL" enabled="true" stopProcessing="true">
                    <match url="^(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="Redirect /index.htm to /index.php" enabled="false" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="index.htm" />
                    <action type="Redirect" url="/index.php" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="/index.htm">
                    <add key="/index.htm" value="/index.php" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>	
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
