/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px 'Roboto Condensed', sans-serif;
	height: 100%;
	background: #fff;
	overflow-x: hidden;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

h2
{
	font-size: 18px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 168px;
	background: url('../images/header_bg.jpg') repeat-x center top; 
	position: relative;
	z-index: 1;
}
.header .width_1000
{
	height: 168px;
	/*border-bottom: 4px solid #ffd100;*/
}

.header_not_main 
{	
	padding: 0 30px;
}
.header_not_main  .logo
{
	margin: 0 0 30px 0px;
	top: 40px;
}

.header_in
{
	position: relative;
	background: url('../images/header_in_bg.png') no-repeat 300px 100%;
	height: 168px;
}
.logo
{
	margin: 0 0 91px 50px;
	position:relative;
	top: 80px;
}

.library_header
{
	position: absolute;
	right: 0;
	bottom: -44px;
}
.library_header_bg
{
	background: url('../images/library_header_bg.png') no-repeat;
	width: 355px;
	height: 120px;
}

.library_header_icon span
{
	font-size: 18px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
}

.library_header_icon_link
{
	background: url('../images/library_header_icon_link.png') no-repeat 0 0;
	height: 70px;
	width: 72px;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
	line-height: 72px;
	padding: 0 0 0 85px;
	margin: 5px 0 0 13px;
}
.library_header_icon_link:hover
{
	background-position: 0 -70px;
}
.library_header_icon_link:active
{
	background-position: 0 -140px;
}


.header  .orange_line
{
	height: 4px;
}
.orange_line
{
	width: 100%;
	border-top: 1px solid #fff;
	height: 2px;
	background: #ffd100;
}

.dark_line
{
	width: 98%;
	border-top: 1px solid #fff;
	height: 2px;
	background: #000;
}

.title_page_with_line
{
	padding: 0 0px 20px 20px;
}
.content .title_page_with_line  h2
{
	margin-left: 0;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 30px 0 230px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}

.middle_not_zayavka_footer
{
	padding: 30px 0 150px;
}
.other_page_middle
{
	padding: 30px 0 250px;
}
.container {
	width: 100%;
	/*float: left;*/
}
.content_main {
	/*padding: 0 350px 0 50px;
	position: relative;*/
	padding: 0;
	position: relative;
	float: left;
}

.content {
	/*padding: 30px 0 0 230px;
	position: relative;*/
	margin: 0 0 0 260px;
	padding: 0 30px 0 0;;
}

.content_full
{
	padding: 0 30px;
}

.library_display .orange_line
{
	width: 100%;
	margin: 30px 0 0;
}
.library_display .dark_line
{
	width: 100%;
}
.width_1000
{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

/*main page*/
.main_screen_image
{
	position: relative;
	top: 0px;
	left: -140px;
}

.italic_text
{
	font-style: italic;
}
.orange_text
{
	color: #f49f00;
}

.content_main h1
{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	line-height: 40px;
	margin: 0 0 20px;
}
.content_main span
{
	font-size: 16px;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	/*float: left;*/
	float: right;
	width: 300px;
	margin-left: -330px;
	position: relative;
	
}

.main_menu
{
	margin: 120px 0 0 0;
}

ul.menu_sidebar
{
	list-style-type: none;
	margin:0px;
}

ul.menu_sidebar li
{
	margin: 0 0 10px 0;
}

ul.menu_sidebar li a
{
	background: #ffb930;
	background: -moz-linear-gradient(top, #ffb930 0%, #ffe393 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb930), color-stop(100%,#ffe393));
	background: -webkit-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -o-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -ms-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: linear-gradient(to bottom, #ffb930 0%,#ffe393 100%);
    font-size: 18px;
    text-decoration:none;
    color:#000;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
    position:relative;
    padding:15px 20px;
    padding-left:80px;
    border-radius: 3px;
	display: block;
	box-shadow:inset 0px 1px 0px #ffbf47, 0px 2px 0px 0px #e79300, 0px 0px 0px #999;
	border: 1px solid #ffbf47;
	border-bottom: 1px solid #e79300;
	min-height: 35px;
	line-height: 35px;
}

ul.menu_sidebar li a:hover
{
	background: #ffa600;
	background: -moz-linear-gradient(top, #ffa600 0%, #ffebb3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa600), color-stop(100%,#ffebb3));
	background: -webkit-linear-gradient(top, #ffa600 0%,#ffebb3 100%);
	background: -o-linear-gradient(top, #ffa600 0%,#ffebb3 100%);
	background: -ms-linear-gradient(top, #ffa600 0%,#ffebb3 100%);
	background: linear-gradient(to bottom, #ffa600 0%,#ffebb3 100%);
}
ul.menu_sidebar li a:active , ul.menu_sidebar li a.select_item
{
    background: #ffb930;
	background: -moz-linear-gradient(top, #ffb930 0%, #ffe393 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb930), color-stop(100%,#ffe393));
	background: -webkit-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -o-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -ms-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: linear-gradient(to bottom, #ffb930 0%,#ffe393 100%);
	border: 1px solid #de9349;
	-webkit-box-shadow:inset 0 5px 6px 0 rgba(0,0,0,0.3);
	box-shadow:inset 0 3px 3px 0 rgba(0,0,0,0.3);
}

ul.menu_sidebar li a.normal_menu_line
{
	line-height: 18px;
}
/*icons*/
.icon_li_menu
{
	width: 70px;
	height:62px;
	display: block;
	position: absolute;
	left: 10px;
	top: 6px;
	background: url('../images/icons_menu_new.png') no-repeat;
}
ul.main_menu li:active .icon_li_menu, ul.menu_sidebar li a.select_item .icon_li_menu
{
	background-position-x: -70px;	
}

.icon_news
{
	background-position: 0px 0px;
}
.icon_obuchenie:active
{
	background-position: -70px 0px;
}

.icon_cab_user
{
	background-position: 0px -60px;
}
.icon_cab_user:active
{
	background-position: -70px -60px;
}

.icon_obuchenie
{
	background-position: 0px -120px;
}
.icon_obuchenie:active
{
	background-position: -70px -120px;
}

.icon_spec_obuchenie
{
	background-position: 0px -490px;
}
.icon_spec_obuchenie:active
{
	background-position: -70px -490px;
}

.icon_raspisanie
{
	background-position: 0px -190px;
}
.icon_raspisanie:active
{
	background-position: -70px -190px;
}

.icon_test
{
	background-position: 0px -250px;
}
.icon_test:active
{
	background-position: -70px -250px;
}

.icon_proforientaciya
{
	background-position: 0px -310px;
}
.icon_proforientaciya:active
{
	background-position: -70px -310px;
}

.icon_send_question
{
	background-position: 0px -370px;
}
.icon_send_question:active
{
	background-position: -70px -370px;
}

.link_send_zayavka_block
{
	background: url('../images/link_send_zayavka.png') no-repeat;
	width: 340px;
	height: 245px;
	position: absolute;
	z-index:1;
	margin: -10px 0 0 0;
}

.link_send_zayavka
{
	display: block;
	width: 200px;
	height: 200px;
	font-size: 18px;
    text-decoration:none;
    color:#000;
	font-weight: bold;
	text-transform: uppercase;
	position:relative;
    padding:35px 20px 10px 88px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
	z-index: 2;
}

.icon_send_zayavka
{
	background-position-y: -434px;
	top: 26px;
}
.link_send_zayavka_block:active .icon_send_zayavka, .link_send_zayavka_block:hover .icon_send_zayavka
{
	background-position-x: -68px;
}
.link_send_zayavka_block:active  .link_send_zayavka, .link_send_zayavka_block:hover .link_send_zayavka
{
	color: #e79300;
}

.ruchka
{
	position: absolute;
	right: 5px;
	top: 46px;
	z-index: 1;
}

strong
{
	font-weight: bold;
}

/*user cabinet*/
.not_main_page
{
	
}



.title_page
{
	margin: 0 0 25px 0px;
	text-transform: uppercase;
	position: relative;
	top: 16px;
	font-size: 16px;
	font-weight: bold;
}

.content h2
{
	color: #ffae17;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 20px 20px;
	text-transform: uppercase;
}

.content h3
{
	font-size: 16px;
	font-weight: bold;
}

.content h2.clear_text
{
	margin: 20px 0;
}
.table_curses table.none_border tr td
{
	border: none;
	border-bottom: none;
}
.table_curses table.photo_with_descr tr td
{
	width: auto;
	padding: 0 10px 0 0;
}

.table_curses
{
	width: 99%;
	padding: 10px 0 10px 20px;
	background: url('../images/table_curses.jpg') no-repeat 0 0;
	/*min-height: 623px;*/
	float: left;
    font-size: 14px;
}

.table_curses .orange_line
{
	width: 98%;
	margin: 30px 0 0;
}
.table_curses table
{
	width: 98%;
	border: none;
}
.table_curses table thead
{
	background: #ffcb12;
}
.table_curses table thead tr td
{
	border: none;
	font-weight: bold;
}
.table_curses table  tr td
{
	padding: 10px;
	width: 20%;
	font-size: 14px;
	border-bottom: 1px solid #000;
}



.link
{
	background: #ffb930;
	background: -moz-linear-gradient(top, #ffb930 0%, #ffe393 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb930), color-stop(100%,#ffe393));
	background: -webkit-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -o-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -ms-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: linear-gradient(to bottom, #ffb930 0%,#ffe393 100%);
    font-size: 12px;
    text-decoration:none;	
    color:#000;
	font-weight: normal;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
    position:relative;
    padding:15px 0px;
	text-align: center;
    border-radius: 3px;
	display: block;
	box-shadow:inset 0px 1px 0px #ffbf47, 0px 2px 0px 0px #e79300, 0px 0px 0px #999;
	border: 1px solid #ffbf47;
	border-bottom: 1px solid #e79300;
	min-height: 15px;
	margin: 20px 0;
}

.link:hover
{
	background: #ffa600;
	background: -moz-linear-gradient(top, #ffa600 0%, #ffebb3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa600), color-stop(100%,#ffebb3));
	background: -webkit-linear-gradient(top, #ffa600 0%,#ffebb3 100%);
	background: -o-linear-gradient(top, #ffa600 0%,#ffebb3 100%);
	background: -ms-linear-gradient(top, #ffa600 0%,#ffebb3 100%);
	background: linear-gradient(to bottom, #ffa600 0%,#ffebb3 100%);
}
.link:active , .active_link_button
{
    
    background: #ffb930;
	background: -moz-linear-gradient(top, #ffb930 0%, #ffe393 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb930), color-stop(100%,#ffe393));
	background: -webkit-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -o-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -ms-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: linear-gradient(to bottom, #ffb930 0%,#ffe393 100%);
	border: 1px solid #de9349;
	-webkit-box-shadow:inset 0 5px 6px 0 rgba(0,0,0,0.3);
	box-shadow:inset 0 3px 3px 0 rgba(0,0,0,0.3);
}

ul.left_menu li a
{
	font-size: 15px;
	line-height: 32px;
	letter-spacing: -0.3px;
}

ul.left_menu li ul
{
	background: #ffae10;
	padding: 24px 30px;
	display: none;
}
ul.left_menu li ul li 
{
	margin: 7px 0;
}
ul.left_menu li ul li a
{
	font-size: 13px;
	color: #000;
	display: block;
	background: none;
	box-shadow: none;
	border: none;
	min-height: 10px;
	padding: 0;
	text-transform: none;
	text-shadow: none;
	font-weight: normal;
	line-height: 16px;
	letter-spacing: 0px;
}
ul.left_menu li ul li a:hover, ul.left_menu li ul li a:active, ul.left_menu li ul li.select_link a
{
	border: none;
	background: none;
	box-shadow: none;
	color: #fff;
}

ul.left_menu li.multiline_li a
{
	line-height: 14px;
	padding: 10px 10px 10px 70px;
}
ul.left_menu li.multiline_li ul li a
{
	padding: 0;
}

.pagination
{
	margin: 15px 0;
	float: right;
}
.pagination ul
{
	list-style-type: none;
}
.pagination ul li
{
	float: left;
	margin: 0;
}
.pagination ul li a
{
	display: block;
	width: 40px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	background: url('../images/pagination_links.png') no-repeat 0 0;
	color: #000;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
}
.pagination ul li a.pagination_prew
{
	background: url('../images/pagination_arrow.png') no-repeat 0 0;
}

.pagination ul li a.pagination_next
{
	background: url('../images/pagination_arrow.png') no-repeat -40px 0px;
}
.pagination ul li a:hover
{
	background-position: 0 -38px;
	outline: none;
}
.pagination ul li a.pagination_prew:hover
{
	background-position: 0 -38px;
}
.pagination ul li a.pagination_next:hover
{
	background-position: -40px -38px;
}
.pagination ul li a.pagination_next:focus
{
	background-position: -40px -78px;
}
.pagination ul li a:active, .pagination ul li a.pagination_active, .pagination ul li a.pagination_prew:focus
{
	background-position: 0 -78px;
}



.left-sidebar 
{
	/*float: left;
	width: 220px;
	margin-left: -100%;
	position: relative;*/
	float: left;
	width: 220px;
	margin-left: 30px;
	position: relative;
}

.user_face
{
	border: 2px solid #f9edde;
	height: 235px;
	margin: 0 0 20px;
	text-align: center;
}

.user_face img{
	max-width: 215px;
	max-height: 235px;
}
.user_fio
{
	font-size: 16px;
	color: #000;
	margin: 0 0 35px;
	text-align: center;
	padding: 0 20px;
}


.zayavka_left
{
	background: url('../images/link_send_zayavka_left.png') no-repeat;
	width: 262px;
	height: 223px;
	top: -130px;
	left: 30px;
}
.zayavka_left .link_send_zayavka
{
	width: 120px;
	font-size: 16px;
}

.zayavka_left .icon_send_zayavka
{
	top: 20px;
}
.zayavka_left .ruchka
{
	right: 0;
	top: 60px;
}

.zayavka_right
{
	top: -70px;
	right: -40px;
}


/*tests*/
.title_in_table
{
	font-size: 14px;
	font-weight: bold;
	margin: 18px 0;
}

.select_list
{
	margin: 0 0 18px;
}
.begin_test
{
	width: 180px;
}

/*attestation page*/
.text_content
{
	margin: 18px 0 0 0;
    
    padding: 5px 10px 5px 15px;
}

.text_content p
{
	margin: 0 0 20px;
    font-size: 14px;
}
.text_content ul
{
	/*list-style: none*/
}

.title_photo
{
	font-weight: bold;
	font-size: 14px;
	color: #ffa700;
	border-bottom: 1px solid #000;
	display: block;
	padding: 0 0 15px 0;
	margin: 0 0 15px;
}
.description_photo
{
	vertical-align: bottom;
	color: #959595;
	font-size: 13px;
	
}
/*
.table_curses table.presentation_table tr:last-child td
{
	border-bottom: 2px solid #000;
}*/
/*
.table_curses table.presentation_table tr td:nth-child(2)
{
	width: 70%;
}*/
.table_curses table.presentation_table tr td
{
	border-bottom: 1px solid #b6b8b9;
}	
.presentation_table tr td.grey_bg
{
	background: #b6b8b9;
	border-bottom: none;
}

.download_block
{
	margin: 30px 0;
	border-top: 2px solid #000;
	width: 92%;
	padding: 22px 18px 0 0; 
}

.download_block ul
{
	list-style-type: none;
	margin: 20px 0 0;
}
.download_block ul li
{
	margin: 7px 0;
	position: relative;
	padding: 0 0 0 22px;
}
.download_block ul li a
{
	text-decoration: none;
	line-height: 18px;
	font-size: 13px;
	color: #000;
}
.download_block ul li:hover a
{
	color: #ffa700;
}

.download_block ul li:hover .download_icon
{
	display: block;
}

.download_icon
{
	background: url('../images/download_icon.jpg') no-repeat;
	width: 11px;
	height: 12px;
	display: block;
	position: absolute;
	left: 0px;
	top: 5px;
	display: none;
}

.docs_title
{
	position: relative;
	padding: 2px 0 0 40px;
}
.icon_docs
{
	background: url('../images/icon_docs.jpg') no-repeat;
	width: 39px;
	height: 41px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}


/*result test*/

.result_test
{
	width: 60%;
	border-top: 2px solid #1b8000;
	border-bottom: 2px solid #1b8000;
	margin: 0 0 22px;
	padding: 26px 0;
}
.test_result_header
{
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 0 0 35px;
	height: 30px;
	line-height: 30px;
}
.test_not_ok
{
	color: #ff0000;
	background: url('../images/result_test.png') no-repeat 0 -30px;	
}
.test_ok
{
	color: #1b8000;
	background: url('../images/result_test.png') no-repeat 0 0;
}

.green, input[type=checkbox].css-checkbox + label#green_label
{
	color: #1b8000;
	font-weight: bold;
}
.red, input[type=checkbox].css-checkbox + label#red_label
{
	color: #ff0000;
	font-weight: bold;
}

td.green input[type='text']
{
	color: #1b8000;
}
td.red input[type='text']
{
	color: #ff0000;
}

.result_table_header
{
	width: 100%;
	margin: 28px 0 0 0;
}
.result_table_header tr td
{
	padding: 0 0 0 0;
	font-size: 13px;
	font-weight: bold;
	vertical-align: top;
}
.result_table_header tr td a.test_submit_btn
{
	margin: 0;
	width: auto;
}

.result_table_header tr td.number_result_test
{
	font-size: 18px;
}

.result_test_question
{
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	display: block;
}
.test_question_ok
{
	background: url('../images/result_question.png') no-repeat 0 0;
	left: -30px;
}

.test_question_error
{
	background: url('../images/result_question.png') no-repeat 0 -24px;
	left: -30px;
}



.table_questions_with_pics tr td 
{
	position: relative;
}

.table_questions_with_pics tr td .test_question_error, .table_questions_with_pics tr td .test_question_ok
{
	left:30%;
	top: 5px;
}
.table_questions_with_pics tr td .test_ok_for_pic
{
	left: 44%;
}
.table_questions_with_pics tr td.red_border_error img
{
	border: 3px solid #ff0000;
}
.table_questions_with_pics tr td.green_border_ok img
{
	border: 3px solid #1b8000;
}

.end_test_icon
{	
	display: block;
	height: 25px;
	padding: 0 0 0 30px;
	background: url('../images/end_test_icon.png') no-repeat;
	line-height: 25px;
}

/*search*/
.title_library
{
	position: relative;
	padding: 0 0 0 40px;
	font-size: 18px;
	font-weight: bold;
	line-height: 38px;
}

.lupa
{
	background: url('../images/lupa.jpg') no-repeat;
	width: 38px;
	height: 37px;
	position: absolute;
	top: 0;
	left:0;
}

.search_word_title
{
	font-size: 14px;
	font-weight: bold;
	margin: 24px 0 20px;
}

.search_form table tr td
{
	padding: 0 10px 0 0;
	vertical-align: top;
}
.search_input
{
	float: left;
}
.search_select
{
	float: left;
}
.search_input_word
{
	width: 350px;
	padding: 17px 20px;
	border: none;
	background: #edeadf;
	color: #000;
	font-size: 14px;
	border-radius: 3px;
	-webkit-box-shadow:inset 0 2px 2px 0px rgba(0,0,0,0.2);
	box-shadow:inset 0 2px 2px 0px rgba(0,0,0,0.2);
	margin: 0;
}
.search_input_word:focus
{
	outline: none;
}

.search_button
{
	clear: both;
	cursor: pointer;
	width: 180px;
	font-weight: bold;
}
.search_button:active, .search_button:hover, .search_button:focus
{
	outline: none;
}

.list_kurses_in_library
{
	margin: 20px 0 0 0;
}

.title_list_in_library
{
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 0 20px;
	background: url('../images/title_list_in_library.jpg') no-repeat left center;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 36px;
}

.list_library, .list_library li ul, .tree_theory_kurs_list ul
{
	list-style-type: none;
}
.list_library
{
	margin: 0 0 0 3px;
	padding: 0 0 0 10px;
	background: url('../images/table_curses.jpg') no-repeat 0 0;
	min-height: 623px;
}
.list_library_not_bg
{
	background: none;
	min-height: initial;
}
.list_library li
{
	margin: 0 0 32px 0;
	position: relative;
}
.list_library li span
{
	font-size:14px;
	color: #000;	
	cursor: pointer;	
	padding: 0 0 0 24px;
	position: relative;	
}
.list_library_point
{
	background: url('../images/list_library_point.png') no-repeat 0 0;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: -3px;
	left: 0;
	
}
.list_library li span:hover
{
	color: #ffa700;
}
.list_library li ul
{
	margin: 30px 0 0 0;
	display: none;
}
.list_library li ul li, .tree_theory_kurs_list ul li
{
	margin: 0 0 20px 40px;
	position: relative;
}

.list_library li ul li a, .tree_theory_kurs_list ul li a
{
	font-weight: bold;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	padding: 0 0 0 24px;
	display: block;
}
.list_library li ul li:hover  a, .tree_theory_kurs_list ul li:hover a
{
	color: #ffa700;
	font-size: 14px;
}
.list_library li ul li:hover .icon_eye, .tree_theory_kurs_list ul li:hover .icon_eye
{
	display: block;
}

.list_library li.active_item_library span
{
	color: #ffa700;
}


.icon_eye
{
	background: url('../images/icon_eye.png') no-repeat;
	width: 14px;
	height: 10px;
	top: 5px;
	left: 0;
	position: absolute;
	display: none;
}

.hide_list
{
	cursor: pointer;
	color: #959595;
	font-size: 12px;
	margin: 0 0 20px 64px;
	position: relative;
}

.hide_list:hover .icon_hide_list
{
	background-position-x: -24px;
}

.icon_hide_list
{
	background: url('../images/up_down_arrow.png') no-repeat 0 0;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: -3px;
	left: 50px;
}

.arrow_up
{
	background: url('../images/up_down_arrow.png') no-repeat -24px 0;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: -3px;
	right: -30px;
}

.arrow_down
{
	background: url('../images/up_down_arrow.png') no-repeat -24px -24px;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: -3px;
	right: -30px;
	display: none;
}


.title_theory_kurs_icon
{
	background: url('../images/title_theory_kurs_icon.png') no-repeat left center;
	height: 48px;
	line-height: 40px;
	padding: 0 0 0 40px;
}
.up_level_theory_kurs_icon
{
	background: url('../images/up_level_theory_kurs_icon.png') no-repeat left center;
	height: 41px;
	line-height: 30px;
	padding: 0 0 0 40px;
}
.down_level_theory_kurs_icon
{
	background: url('../images/down_level_theory_kurs_icon.png') no-repeat left center;
	height: 42px;
	line-height: 26px;
	padding: 0 0 0 40px;
	color: #ffae17;
	font-size: 14px;
}
.tree_theory_kurs_list ul
{
	margin: 10px 0 0;
}
.tree_theory_kurs_list ul li
{
	margin-left: 13px;
}



/*redactor kurses*/
.header_menu_redactor
{
	position: absolute;
	right: 0px;
	top: 5px;
}
.header_menu_redactor ul
{
	
}
.header_menu_redactor ul li
{
	float: left;
	position: relative;
	margin: 0 0 0 0px;
	padding:10px;
}
.header_menu_redactor ul li a
{
	font-size: 13px;
	color: #000;
	text-decoration: none;
	text-transform: none;
	float: left;
}
.header_menu_redactor_list
{
	background: url('../images/up_down_arrow.png') no-repeat 0px -24px;
	width: 24px;
	height: 24px;
	display: block;
	float: left;
}
.header_menu_redactor ul li ul
{
	position: absolute;
	top: 30px;
	left: 0;
	display: none;


	width: 100%;
}
.header_menu_redactor ul li ul li
{
	float: none;
	margin: 0;
	padding: 8px 10px;
}	
.header_menu_redactor ul li ul li a
{
	float: none;
}
.header_menu_redactor ul li:hover
{
	background: #ffae10;
	padding:10px;
}
.header_menu_redactor ul li:hover .header_menu_redactor_list
{
	background-position: -24px -24px;
}
.header_menu_redactor ul li:hover ul
{
	background: #ffae10;
	display: block;
}
.header_menu_redactor ul li:hover ul li
{
	padding: 8px 10px;
}
.redactor_face
{
	position: absolute;
	top: 50px;
	right: 60px;
}

.redactor_face_img img
{
	border-radius: 100px;
	border: 2px solid #ffd100;
	max-width: 64px;
	max-height: 64px;
}
.out_redactor
{
	position: absolute;
	top: 30px;
	right: -25px;
}
.redactor_content
{
	padding-top:0; 
}
.top_block
{
	position: relative;
	margin: 0 0 20px;
	padding: 0 30px;
}
.top_block h2
{
	margin: 0 0 20px;
	text-transform: uppercase;
}

.button_right
{
	position: absolute;
	right: 30px;
	top: 0;
}

.button_right_link
{
	float: left;
	margin: 0 0 0 10px;
	padding: 3px 15px;
	/*width: 100px;*/
}

.active_link_button
{
	/*box-shadow: 0 0 10px #000;*/
}

.search_in_library
{
	
}

.search_in_library input.search_in_library_text
{
	width: 200px;
	padding: 7px 10px;
	font-size: 12px;
	margin: 0 0 10px 0;
}
.search_in_library span
{
	margin: 0 0 0 10px;
}

.search_in_library_button
{
	width: 126px;
	height: 22px;
	padding: 0;
	cursor: pointer;
	margin: 20px auto;
}
.search_in_library_button:focus
{
	outline: none;
}

.select_custome_mini
{
	width: 100%;
   height: 34px;
   overflow: hidden;
   padding: 0 0 0 10px;
   margin: 0 0 10px;
   cursor: pointer;
   text-shadow: none;
   box-shadow: inset 0px 1px 0px #ffbf47, 0px 1px 0px 0px #e79300, 0px 0px 0px #999;
   
   background: #ffb930;
background: -moz-linear-gradient(top, #ffb930 0%, #ffe393 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb930), color-stop(100%,#ffe393));
background: -webkit-linear-gradient(top, #ffb930 0%,#ffe393 100%);
background: -o-linear-gradient(top, #ffb930 0%,#ffe393 100%);
background: -ms-linear-gradient(top, #ffb930 0%,#ffe393 100%);
background: linear-gradient(to bottom, #ffb930 0%,#ffe393 100%);
font-size: 12px;
text-decoration: none;
color: #000;
font-weight: normal;
text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
position: relative;
padding: 2px 5px;
text-align: left;
border-radius: 3px;
display: block;
box-shadow: inset 0px 1px 0px #ffbf47, 0px 1px 0px 0px #e79300, 0px 0px 0px #999;
border: 1px solid #ffbf47;
border-bottom: 1px solid #e79300;
min-height: 15px;
margin: 10px 0;
cursor: pointer;
height: 22px;
position: relative;

}
.select_custome_mini:focus
{
	outline: none;
}

.redactor_content .text_content, .redactor_content  .list_kurses_in_library
{
	margin: 0;
}

.redactor_content .list_library li ul li:hover .icon_eye
{
	display: none;
}

.edit_li_hover_panel
{
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	position: absolute;
	width: 80px;
	height: 42px;
	z-index: 1;
	top: -38px;
}

.list_library li ul li a.edit_li_text, a.edit_li_text
{
	background: url('../images/edit_remove_icon.png') no-repeat 0 0;
	width: 26px;
	height: 26px;
	display: block;
	padding: 0;
	margin: 5px 10px 0 10px;
	float: left;
}
.list_library li ul li a.edit_li_text:hover, a.edit_li_text:hover
{
	background-position: 0 -26px;
}

.list_library li ul li a.delete_li_text:hover, a.delete_li_text:hover
{
	background-position: -26px -26px;
}

.list_library li ul li a.delete_li_text, a.delete_li_text
{
	background: url('../images/edit_remove_icon.png') no-repeat -26px 0px;
	width: 26px;
	height: 26px;
	display: block;
	padding: 0;
	margin: 5px 0 0 0;
	float: left;
}
a.delete_li_text{cursor:pointer;}

table.sotrudnik_redactor
{
	width: 100%;
}

table.sotrudnik_redactor thead
{
	background: #ffcb12;
}
table.sotrudnik_redactor tr td
{
	padding: 10px;
	border: none;
	vertical-align: top;
}
/*
table.sotrudnik_redactor thead tr:first-child td
{
	border-bottom: 1px solid #000;
}*/
/*
table.sotrudnik_redactor tr:nth-child(3n) td
{
	border-bottom: 1px solid #000;
}*/

table.sotrudnik_redactor tr td.td_no_padding
{
	padding: 0;
	width: 100px;
}

.name_sotrudnik
{
	font-weight: bold;
	font-size: 14px
}
.workspace_sotrudnik
{
	color: #555555;
	font-size: 13px;
}

/*raspisanie*/
.raspisanie_line_button
{
	width: 100%;
	float: left;
	margin: 0 0 20px;
}
.raspisanie_line_button  a
{
	/*float: left;*/
	padding: 0 15px;
	height: 20px;
	display: inline-block;
	box-shadow: inset 0px 1px 0px #ffbf47, 0px 0px 0px 0px #e79300, 0px 0px 0px #999;
	margin: 0 0 0 10px;
	border-radius: 2px;
}
.litle_block_link, .others_block_link, .date_link span
{	
	float: left;
}	
.litle_block_link  a
{
	margin: 0 -4px 0 0;
}
.date_link_nav, .date_link
{
	float: right;
}
.calendar_events
{
	
}
.raspisanie_line_button a.date_link_nav_currentday
{
	float: left;
}
.raspisanie_line_button a.date_link_nav_prew
{
	background: url('../images/date_link_nav.png') no-repeat 0 0;
	display: block;
	width: 36px;
	padding: 0;
	height: 40px;
	margin: -10px 0 0 0;
	box-shadow: none;
	border-radius: 0;
	float: left;
	outline: none;
}
.raspisanie_line_button a.date_link_nav_prew:hover
{
	background-position: 0 -38px;
}
.raspisanie_line_button a.date_link_nav_prew:focus, .raspisanie_line_button a.date_link_nav_prew:active
{
	background-position: 0 -76px;
}
.raspisanie_line_button a.date_link_nav_next
{
	background: url('../images/date_link_nav.png') no-repeat -40px 0;
	display: block;
	width: 36px;
	padding: 0;
	height: 40px;
	margin: -10px 0 0 0;
	box-shadow: none;
	border-radius: 0;
	float: left;
}
.raspisanie_line_button a.date_link_nav_next:hover
{
	background-position: -40px -38px;
}
.raspisanie_line_button a.date_link_nav_next:focus, .raspisanie_line_button a.date_link_nav_next:active
{
	background-position: -40px -76px;
}

.day_header_calendar
{
	float: left;
	width: 100%;
	padding: 0 0 20px;
	border-bottom: 2px solid #000;
	margin: 0 0 10px;
}
.horizontal_events_calendar
{
	padding: 0 0 10px;
	float: left;
}

.horizontal_events_line
{
	float: left;
	width: 90%;
	padding: 0 0 0 93px;
}
.horizontal_events_line > div
{
	float: left;
	border-radius: 10px;
	text-align: left;
	margin: 2px;
	padding: 0 5px;
}
.horizontal_events_line > div.h_event_width_1 
{
	width: 120px;
}	
.horizontal_events_line > div.h_event_width_2
{
	width: 240px;
}
.horizontal_events_line > div.h_event_width_3
{
	width: 360px;
}
.horizontal_events_line > div.h_event_width_4
{
	width: 480px;
}
.horizontal_events_line > div.h_event_width_5
{
	width: 600px;
}
.horizontal_events_line > div.h_event_width_6
{
	width: 720px;
}
.horizontal_events_line > div.h_event_width_7
{
	width: 840px;
}

.horizontal_events_line > div.h_event_padd_1
{
	margin-left: 0;
}
.horizontal_events_line > div.h_event_padd_2
{
	margin-left: 120px;
}
.horizontal_events_line > div.h_event_padd_3
{
	margin-left: 240px;
}
.horizontal_events_line > div.h_event_padd_4
{
	margin-left: 360px;
}
.horizontal_events_line > div.h_event_padd_5
{
	margin-left: 480px;
}
.horizontal_events_line > div.h_event_padd_6
{
	margin-left: 600px;
}

.event_color_green
{
	background: #b5ebad;
}
.event_color_red
{
	background: #fb5757;
}
.event_color_purpur
{
	background: #eebaba;
}



.time_day_calendar
{
	width: 93px;
	float: left;
	text-align: center;
}
.day_calendar
{
	width: 120px;
	float: left;
	text-align: center;
}

.grid_calendar
{
	float: left;
	width: 100%;
	border-top: 1px solid #000;
	border-bottom: 2px solid #000;
}
.hours_day
{
	height: 49px;
	line-height: 48px;
	border-bottom: 1px dotted #000;
	border-right: 1px dotted #000;
	display: block;
}

.vertical_calendar_day
{
	width: 120px;
	float: left;
	border-right: 1px dotted;
	background: url('../images/event_cal_dotted.png') repeat;
}

.vertical_event
{
	border-radius: 10px;
	width: 105px;
	margin: 3px;
	text-align: left;
	padding: 5px;
	position: pretive;
}

.title_time
{
	text-align: center;
	font-weight: bold;
}


.link_disable
{
	background: #ffe1a0;
	border: none;
	color: #d28b00;
}
/*test*/
.upper_text
{
	text-transform: uppercase;
}
.breadcrumbs
{
	width: 94%;
	padding: 0 20px 20px 0;
	margin: 0 0 35px 0;
}
.user_face_in_breadcrumbs
{
	position: relative;
}
.user_face_in_breadcrumbs_img
{
	position: absolute;
	top: -15px;
	left: -5px;
	border-radius: 100px;
	border-right: 15px solid #ffffff;
	width: 60px;
	height: 60px;
}
.user_face_in_breadcrumbs img
{
	border-radius: 100px;
	border: 2px solid #ffd100;
	max-width: 64px;
	max-height: 64px;
}

.breadcrumbs_item_list
{
	margin: 0 0 0 65px;
}
.breadcrumbs_item_list > div
{
	background: #fff6d1;
	background: -moz-linear-gradient(top, #fff6d1 0%, #fee67a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff6d1), color-stop(100%,#fee67a));
	background: -webkit-linear-gradient(top, #fff6d1 0%,#fee67a 100%);
	background: -o-linear-gradient(top, #fff6d1 0%,#fee67a 100%);
	background: -ms-linear-gradient(top, #fff6d1 0%,#fee67a 100%);
	background: linear-gradient(to bottom, #fff6d1 0%,#fee67a 100%);
	height: 30px;
	line-height: 30px;
	padding: 0 ;
	float: left;
}

.breadcrumbs_item_list > div.breadcrumbs_current
{
	float: none;
	background: none;
}

.breadcrumbs_item_list > div.breadcrumbs_item_sep a
{
	background: url('../images/breadcrumbs_item_sep.png') no-repeat right center;
}
.breadcrumbs_item_list > div.breadcrumbs_item_sep_last
{
	margin: 0 10px 0 0;
}
.breadcrumbs_item_list > div.breadcrumbs_item_sep_last a
{
	background: url('../images/breadcrumbs_item_sep_last.png') no-repeat right center;
}
.breadcrumbs_item_list > div a
{
	color: #c88200;
	text-decoration: none;
	font-size: 13px;
	line-height: 30px;
	display: block;
	padding: 0 30px 0 15px;
}


.test_line_block
{
	margin: 0 0 40px;
	padding: 0 0 10px 0;
	width: 100%;
	font-size: 14px;
}
.test_line_block.skiped_quest{
	background: #E57565;
}

.questions_list
{
	margin: 0 0 0 30px;
}

.answer_padding
{
	padding: 0 0 0 30px;
}
.green_color
{
	color: #1b8000;
	font-weight: bold;
}
.red_color
{
	color: #e70000;
	font-weight: bold;
}
.questions_list .table_with_input_test tr td
{
	padding: 0 10px 0 10px;
	position: relative;
}
.questions_list .table_with_input_test tr td .test_question_ok, .questions_list .table_with_input_test tr td .test_question_error
{
	left: -30px;
}
.questions_list .table_with_input_test
{
	margin: 0 0 0 0px;
}

.questions_list ul li, .questions_list ol li
{
	margin: 0 0 10px;
	position: relative;
	word-wrap: break-word;
	word-break: break-word;
}

.questions_list input[type='text']
{
	width: 200px;
	padding: 5px 10px;
	border: none;
	background: #edeadf;
	color: #000;
	font-size: 14px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 2px 2px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 2px 0px rgba(0,0,0,0.2);
	margin: 0 0 5px;
}

.questions_list input[type='text'].input_small_test
{
	width: 22px;
	padding: 2px 0;
	text-align: center;
	margin: 0 10px 0 0;
}

.questions_list input[type='text']:focus
{
	outline: none;
}
.test_line_block ol
{
	/*list-style: initial;
	list-style-type: lower-hexadecimal;*/
	
}

.table_questions_with_pics tr td
{
	padding: 5px;
	text-align: center;
}
.table_questions_with_pics tr td img
{
	border: 3px solid #fff;
	width:226px;
	height: 171px;
}
.table_questions_other
{
	margin: 0 0 0 0px;
}

.table_questions_other tr td
{
	padding: 5px 30px 0 0;
}

.table_questions_other tr td ul, .table_questions_other tr td ol
{
	margin: 0 0 0 0px;
}

.test_question
{
	font-weight: bold;
	margin: 0 0 40px;
}

.test_submit_btn
{
	width: 180px;
	cursor: pointer;
}
.test_submit_btn:focus
{
	outline: none;
}

sub
{
	font-size: 70%;
}

/*text page*/
ul.list_in_text_page
{
	list-style-image: url('../images/list_orange_marker.jpg');
	margin: 0 0 0 50px;
}
.list_in_text_page li
{
	margin: 0 0 10px;
	font-weight: bold;
	color: #000;
}

ol.list_in_text_page
{
	color: #ffa700;
	list-style-type: decimal ;
	margin: 0 0 0 50px;
}


.colorbox
{
	position: relative;
}
.colorbox:focus
{
	outline: none;
}
.colorbox:hover .zoom_icon
{
	background-position: 0 -45px;
}
.zoom_icon
{
	background: url('../images/zoom_icon.png') no-repeat;
	width: 44px;
	height: 45px;
	display: block;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	min-width: 1000px;
	height: 270px;
	/*background: url('../images/footer_bg.png') no-repeat center top;*/
	position: relative;
	z-index: 1;
}

.footer_bg
{
	background: url('../images/footer_bg.png') no-repeat center top;
	min-width: 1000px;
	height: 270px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.footer_bottom
{
	position: relative;
	height: 270px;
}

.copyright
{
	position: absolute;
	bottom: 20px;
	left: 50px;
    font-size: 15px;
}

.icon_footer
{
	position: absolute;
	right: 50px;
	bottom: 0;
	z-index: 1;
}
.icon_spravka
{
	background: url('../images/icon_spravka.png') no-repeat 0 0;
	display: block;
	width: 80px;
	height: 75px;
}
.icon_spravka:hover
{
	background-position: 0 -75px;
}


/*custome checkbox*/
input[type=checkbox].css-checkbox {
	display:none;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:27px;
	height:22px; 
	display:inline-block;
	line-height:22px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;
	color: #000;
}

label.css-label.with-custom{
	width: 840px;
}

input[type=checkbox].css-checkbox + label.css-checkbox_checked
{
	background-position: 0 -22px;
	color: #ffa700;
}
label.css-label {
	background-image:url('../images/css-checkbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.big_text_label_with_chechox
{
	/*float: left;*/
	margin: -23px 0 10px 45px;
}

.calendar_block
{
	position: relative;
}

.ui-datepicker-trigger
{
	border: none;
	background: none;
	position: absolute;	
	right: -6px;
	top: 1px;
	cursor: pointer;
}
.ui-datepicker-trigger:focus, .datepicker :focus
{
	outline: none;
}
.datepicker 
{
	border: none;
	background: #edeadf;
	padding: 5px;
	width: 180px;
}

.datepicker-styled 
{
	border: none;
	background: #edeadf;
	padding: 5px;
	width: 180px;
}
.search_in_library span
{
	width: 20px;
	float: left;
	margin: 5px 0 0 10px;
}

.search_in_library span.date_title
{
	float: none;
}

/* modals*/
#index_modal
{
	
}
#index_modal label
{
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 20px 0;
	display: block;
}
#index_modal input[type='text'], #index_modal textarea
{
	/*width: 200px;*/
	padding: 10px;
	border: none;
	background: #edeadf;
	color: #000;
	font-size: 14px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 2px 2px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 2px 0px rgba(0,0,0,0.2);
}
#index_modal input[type='text']
{
	width: 420px;
	margin: 0 0 30px 0;
}
#index_modal textarea
{
	width: 420px;
	margin: 0 0 20px 0;
	resize: none;
	height: 128px;
}
#index_modal input[type='text']:focus, #index_modal textarea:focus, .modal_index_input:focus
{
	outline: none;
}
.wrapper_modal_btn
{
	width: 420px;
}
.modal_index_input
{
	width: 180px;
	margin: 0 auto;
	cursor: pointer;
}

/*modal_add_file_library*/
.modal_add_file_library
{
	padding: 30px;
}
.modal_add_file_library .dark_line
{
	height: 1px;
	width: 100%;
}
.name_file
{
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	margin: 0 0 35px;
}

.buttons_line a
{
	display: inline-block;
	margin: 10px 0;
}

.table_modal_add_file_library
{
	width: 100%;
	margin: 20px 0 0;
}
.table_modal_add_file_library .psevdo_select_custome_mini
{
	width: 94%;
}
.table_modal_add_file_library td
{
	padding: 0 10px 10px 0;
}
.table_modal_add_file_library .input_add_file_library
{
	width: 340px;
	height: 25px;
	padding:2px 5px;

	font-size: 12px;
}

.center_button
{
	margin: 0 auto;
	width: 240px;
}

.icons_remove_link
{
	text-decoration: none;
	background: url('../images/remove_icon_link.png') no-repeat right center;
	display: block;
	line-height: 24px;
	padding: 0 30px 0 20px;
	margin: 0 0 0 20px;
	color: #000;
}
.icons_remove_link:hover
{
	color: #e70000;
}

/*modal_add_kurs*/
.modal_add_kurs
{
	width: 500px;
}
.modal_add_kurs input.search_in_library_text
{
	width: 96%;
}
.modal_add_kurs_date_table
{
	width: 100%;
}
.modal_add_kurs_date_table .datepicker
{
	width: 210px;
}
.modal_add_kurs select
{
	width: 520px;
	padding: 5px 10px;
}







/*icons type file*/
.type_file
{
	width: 20px;
	height: 26px;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
._acrobat
{
	background: url('../images/icons_type_file.png') no-repeat 0 0;
}
._php
{
	background: url('../images/icons_type_file.png') no-repeat -30px 0;
}
._word
{
	background: url('../images/icons_type_file.png') no-repeat -60px 0;
}
._exel
{
	background: url('../images/icons_type_file.png') no-repeat -90px 0;
}
._avi
{
	background: url('../images/icons_type_file.png') no-repeat -120px 0;
	width: 23px;
}
._rar
{
	background: url('../images/icons_type_file.png') no-repeat -153px 0;
	width: 23px;
}
._zip
{
	background: url('../images/icons_type_file.png') no-repeat -187px 0;
	width: 23px;
}




/*select_list_custome*/
.select_list_custome
{
	width: 351px;
	height: 48px;
	/*line-height: 46px;*/
	color: #000;
}
.select_list_custome:focus
{
	outline: none;
}

.modal_add_zanyatiya
{
	width: 500px;
	margin: 0 auto;
}
.modal_add_zanyatiya table tr td
{
	padding: 0 10px 10px 0; 
	/*vertical-align: top;*/
}
.modal_add_zanyatiya table tr td.td_textarea
{
	padding-top: 5px; 
	vertical-align: top;
}
.modal_add_zanyatiya select
{
	width: 93%;
}
.modal_add_zanyatiya textarea
{
	resize: none;
	height: 60px;
	padding: 5px;
	overflow: hidden;
	width: 339px;
}



/*psevdo_select_custome_mini*/
.psevdo_select_custome_mini
{
	background: #ffb930;
	background: -moz-linear-gradient(top, #ffb930 0%, #ffe393 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb930), color-stop(100%,#ffe393));
	background: -webkit-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -o-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -ms-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: linear-gradient(to bottom, #ffb930 0%,#ffe393 100%);
	font-size: 12px;
	text-decoration: none;
	color: #000;
	font-weight: normal;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
	position: relative;
	padding: 0;
	text-align: left;
	border-radius: 3px;
	display: block;
	box-shadow: inset 0px 1px 0px #ffbf47, 0px 1px 0px 0px #e79300, 0px 0px 0px #999;
	border: 1px solid #ffbf47;
	border-bottom: 1px solid #e79300;
	min-height: 15px;
	margin: 10px 0;
	cursor: pointer;
	width: 100%;
	position: relative;
}
.psevdo_select_custome_mini:hover
{
	background: #ffa600;
	background: -moz-linear-gradient(top, #ffa600 0%, #ffebb3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa600), color-stop(100%,#ffebb3));
	background: -webkit-linear-gradient(top, #ffa600 0%,#ffebb3 100%);
	background: -o-linear-gradient(top, #ffa600 0%,#ffebb3 100%);
	background: -ms-linear-gradient(top, #ffa600 0%,#ffebb3 100%);
	background: linear-gradient(to bottom, #ffa600 0%,#ffebb3 100%);
}
.psevdo_select_custome_mini:active, .psevdo_select_custome_mini_active
{
	background: #ffb930;
	background: -moz-linear-gradient(top, #ffb930 0%, #ffe393 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb930), color-stop(100%,#ffe393));
	background: -webkit-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -o-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: -ms-linear-gradient(top, #ffb930 0%,#ffe393 100%);
	background: linear-gradient(to bottom, #ffb930 0%,#ffe393 100%);
	border: 1px solid #de9349;
	-webkit-box-shadow: inset 0 5px 6px 0 rgba(0,0,0,0.3);
	box-shadow: inset 0 3px 3px 0 rgba(0,0,0,0.3);
}
.psevdo_select_custome_mini .psevdo_select_options
{
	background: #ffae10;
	position: absolute;
	top: 22px;
	left: -1px;
	padding: 5px;
	width: 97%;
	display: none;
	z-index: 1;
}
.title_psevdo_select
{
	position: relative;
	padding: 2px 5px;
}
.psevdo_select_arrow
{
	background: url('../images/up_down_arrow.png') no-repeat 0px -24px;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: -2px;
	right: 0;
}
.psevdo_select_custome_mini .psevdo_select_options ul
{
	list-style-type: none;
}
.psevdo_select_custome_mini .psevdo_select_options ul li
{
	color: #000;
	text-shadow: none;
}
.psevdo_select_custome_mini .psevdo_select_options ul li:hover
{
	color:#fff;
}





.parent_menu
{
	display: inline-block;
	position: relative;
}
.raspisanie_line_button a.parent_menu_link
{
	width: 100%;
	padding: 0 5px;
}
.raspisanie_line_button a.parent_menu_link .header_menu_redactor_list
{
	float: right;
}
.parent_menu:hover ul
{
	display: block;
}
.parent_menu ul
{
	position: absolute;
	top: 22px;
	left: 10px;
	padding: 10px;
	background: #ffae10;
	width: 250%;
	display: none;
}

.raspisanie_line_button .parent_menu ul li a
{
	display: block;
	color: #000;
	border: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.raspisanie_line_button .parent_menu ul li a:hover
{
	color: #fff;
}



/*error validate*/
.input_form
{
	position: relative;
}
.error_message
{
	-webkit-box-shadow: 5px 5px 20px 3px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 20px 3px rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	max-width: 200px;
	width: 200px;
	right: -210px;
}
.error_message_value
{
	position: relative;
	background: #fff;
	color: #000;
	text-transform: uppercase;
	padding: 8px 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	
}
.error_message_triangle
{
	position: absolute;
	left: -5px;
	top: 42%;
	width: 5px;
	height: 9px;
	background: url('../images/error_message_triangle.png') no-repeat left center;
}
.hidden_error
{
	display: none;
}
#index_modal input[type='text'].error_validate, #index_modal textarea.error_validate
{
	background: #e70000;
	color: #fff;
}

.modal_open{cursor: pointer;}

.main-menu-title-link-home {text-decoration: none; color: black;}

.tab-title-link li a{margin:0; line-height: 18px; padding:0px;}

#custom_participiants_list tr th {font-weight: bold; padding: 0 5px;}
#custom_participiants_list tr td {padding: 0 5px;}

.ui-autocomplete.ui-front{z-index: 99999999;}

.library-table tr td{padding: 5px 10px 0 0;}
.library-table tr td a.delete_li_text{margin: 0px;}

.modal.modal-in-library{width: 900px; max-width:900px;}

.section-test-questions .image-in-form-instance{width: 200px;}
.section-test-answers .image-in-form-instance{width: 200px;}
.image-in-list-answer {width:200px;}

.course-required{  background: #F89728; /*#F30F21; */}
.course-corporative{background:  #FFD200;}

.content-frontend{}
.content-frontend .content-list-item{}
.content-frontend .content-list-item .content-list-item-title{margin: 10px 0 10px 0;}
.content-frontend .content-list-item .content-list-item-title a{ color: black;}
.content-frontend .content-list-item .content-list-body{}

.buttons-div{margin: 15px 0; line-height: 22px;}

.invisible{display:none;}

.polls-success{ font-weight: bold; color:green;}
.polls-error{ font-weight: bold; color:red;}

td.skip {color: red;}
td.added {color: green;}

img.image-in-questions{max-width:400px;}

a.test-polls-dynamic-link { height:20px; display:block; background: url(../images/positive_dynamic.png) no-repeat;}
a.test-polls-view-result { height:20px; width:20px; float:right; display:block; background: url(../images/search_24.png) no-repeat;}

span.input-required{color:red;}

.test-result-employee-name {font-size: 15px; margin: 10px 0 0 0; }

#myModal.modal {
    /* new custom width */
    width: 800px;
    max-width:800px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -400px;
}

.table_curses table tr td.curator-items-cell{padding: 10px 0 10px 60px;}
table.curator-items-table{width: 100%; display:none;}

.table_curses table tr td.curator-items-cell .curator-items-cell-show-emp{text-align:center; padding: 10px; color: blue; cursor:pointer;}

.left-sidebar ul{margin:0px;}

body .ui-tooltip{z-index: 999999999999999999;}

#curatorFace{margin: 10px 0;}
.curator-container{float:left; width: 450px; margin:10px 0;}
.employee-container{float:right; width: 450px; margin:10px 0;}
.employee-container .employee-container-items{margin:10px 0;}
.employee-item-in-container {width:400px; margin: 5px 0; overflow:auto; display: inline-block;border: 2px solid gray;font-size: 14px;}

.container_course_select{margin-top:10px;}

.faq-content{margin: 0 0 0 20px;}
.faq-content .faq-content-category-list{}
.faq-content .faq-content-category-list span{margin-right:10px;}
.faq-content .faq-content-category-list span a{color:#6d3311; font-size:14px;}
.faq-content .faq-content-current-category h2{margin:20px 0;}
.faq-content .faq-content-faqs{margin: 20px 0;}
.faq-content .faq-content-faqs .faq-content-faqs-item{margin: 30px 0 0 0;}
.faq-content .faq-content-faqs .faq-content-faqs-item .faq-content-faqs-item-category{color: #797A7A;  font-size: 14px; margin-bottom: 5px;}
.faq-content .faq-content-faqs .faq-content-faqs-item .faq-content-faqs-item-title{font-size: 1.3em; padding-bottom: 7px;}
.faq-content .faq-content-faqs .faq-content-faqs-item .faq-content-faqs-item-title a{cursor: pointer;  border-bottom: 1px dashed; color: #CC5E1E;}
.faq-content .faq-content-faqs .faq-content-faqs-item .faq-content-faqs-item-body{ display:none;}
.faq-content .faq-content-faqs .faq-content-faqs-item .faq-content-faqs-item-body .faq-content-faqs-item-quest{font-size: 1.3em; line-height: 1.45em; margin-bottom: 1.4em;}
.faq-content .faq-content-faqs .faq-content-faqs-item .faq-content-faqs-item-body .faq-content-faqs-item-answer{font-size: 14px; padding: 0 0 0 30px; line-height: 21px; text-align: justify;border-left: 1px solid #777;}

.faq-category{}
.faq-category .faq-category-title{font-size: 18px; padding: 10px 0; border-bottom: 1px solid #ffd100;}
.faq-category .faq-category-body{margin: 10px 0; font-size: 15px;}
.faq-category .faq-category-body .faq-category-body-item {margin:10px 0;}
.faq-category .faq-category-body .faq-category-body-item a{color: #6d3311; text-decoration: none;}

.content h2 a{color: black; border-bottom:1px dashed; text-decoration:none;}
.faq-add-form-result.success{color:green;}
.faq-add-form-result.error{color:red;}

.return-to-main{text-align:right;font-size:13px;}
.return-to-main a{color:black; text-decoration:none; border-bottom:1px dashed;}

.table_curses_detail{width: 99%; padding: 0px 0 0 20px; min-height: 223px; float: left; font-size: 14px; }
.table_curses_detail table{border: 2px solid #f9edde;}
.table_curses_detail table tr{border: 1px solid #000;}
.table_curses_detail table tr th{background:#ffcb12; font-weight:bold; width: 40%; border-bottom: 1px solid #000;}
.table_curses_detail table tr th, .table_curses_detail table tr td{padding: 10px;font-size: 14px;}

table tr.need-border-bottom{border-bottom: 2px solid black;}