{% if pkzi %}
    <div class="pkzi-block pkzi-block-person">
        {% for item in pkzi %}
            <p>
                <b>{{ item.NAMEPKZI }}</b><br/>
                Срок действия <b>{{ item.BEGINPKZI | date("d.m.Y") }}&ndash;{{ item.ENDPKZI | date("d.m.Y") }}</b>
                {% if item.isExpire == 1 %}
                    <span class="vn-badge vn-badge-danger">Истёк</span>
                {% else %}
                    <span class="vn-badge vn-badge-success">Актуален</span>
                {% endif %}
            </p>
        {% endfor %}
    </div>
{% endif %}