<form class="employee-search yrb cols23-cnt ns" id ="employee_search" action="{{site_url}}search_employee/search/">
            <div class="lb c23-lcol">
            <h2 class="emps-hdr l-e-h">Найти сотрудника</h2>
            </div>
            <div class="lb c23-rcol">
            <div class="emps-inp-pad l-e-i-p">
                <input class="emps-in txinp" type="text" value="{{value}}"  id="employee" name="employee"/>
                <input class="emps-sbm obtn" type="submit" value="Найти" />
                    </div>
            </div>
      <i class="yrb-tlc"></i><i class="yrb-brc"></i>
    </form>
