h3.header {
    font-family: 'Trebuchet MS', 'Tahoma', 'Arial';
    font-size: 14px;
    font-weight: normal;
    text-transform:uppercase;
    padding: 4px 0;
}


.n-main
{
    width:100%;
    overflow: hidden;
    margin: 0 0 3.2em 0;
}

.calendar {
    font-size: 10pt;
    width:100%;
}

.calendar td {padding: 6px; }
.calendar .weekend {color: #CC5E1E; }
.calendar a {  font-size: 10pt; color: #000; font-weight: bold; }

.n-main-p
{
    width:50%;
    overflow: hidden;
    margin: 0 0 3.2em 0;
}
.n-rol
{
    width:49.5%;
    background-repeat:repeat-x;
}
.n-rol-o
{
    float:left;
    background-image: url(/images/legacy/b-o.png);
}
.n-rol-s
{
    float:right;
    background-image: url(/images/legacy/b-s.png);
}
.n-rol-n
{
    margin:23px;
    margin-top:0px;
    text-align:justify;
}
.n-rol-l-r
{
    width:23px;
    height:23px;
    background-repeat:no-repeat;
}
.n-rol-l-r-o
{
    background-image: url(/images/legacy/l-r-o.png);
}
.n-rol-l-r-s
{
    background-image: url(/images/legacy/l-r-s.png);
}
.n-img-rol
{
    width:90px;
    height:100px;
    margin-right:10px;
    float:left;
}
.n-str-l
{
    width:48%;
    float:left;
    margin-bottom:20px;
}
.n-str-r
{
    width:48%;
    float:right;
    margin-bottom:20px;
}
.n-abs
{
    overflow:hidden;
}
p.n-rol-tit
{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: Trebuchet MS;
}
p.n-rol-dol
{
    margin:0;
    padding:0;
    font-size: 12px;
    font-family: Trebuchet MS;
}
p.n-rol-txt
{
    margin:0;
    margin-top:8px;
    padding:0;
    font-size: 12px;
    font-family: Arial;
}
p.n-rol-r-txt
{
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: Arial;
    color:#E0642C;
/*    margin-top:8px; */
}
p.n-ch-box-txt
{
    margin:0;
    padding:0;
    font-size: 12px;
    font-family: Arial;
    color:#000;
}
p.n-head-b, p.n-head-g
{
    margin:0;
    padding:0;
    font-family: Trebuchet MS;
}
p.n-head-b
{
    color:#000;
    font-size:21px;
}
p.n-head-g
{
    color:#4A8938;
    font-size:21px;
}
p.n-str-mtxt
{
    font-family:Trebuchet MS;
    font-size:14px;
    color:#000;
    margin:0;
    padding:0;
    text-align:justify;
}
/* .content-wrp-inner p
{
    font-size:12px;
    color:#000;
    margin:0;
    padding:0;
}

*/

.n-head-s
{
    color:#000;
    font-size:12px;
    font-style:normal;
}
a.n-head-link-r, a.n-head-link-r:hover, a.n-head-link-r:visited, a.n-head-link-r:active
{
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    color:#E0642C;
}
a.n-head-link, a.n-head-link:hover, a.n-head-link:visited, a.n-head-link:active
{
    color:#1F1E21;
    font-family: Arial;
    font-size:13px;
}
a.n-rol-hist, a.n-rol-hist:hover, a.n-rol-hist:visited, a.n-rol-hist:active
{
    color:#868788;
    font-size: 14px;
    font-family: Arial;
    margin:0;
    padding:0;
    float:right;
    margin-top:7px;
}
p.n-rol-link, a.n-rol-link, .a.n-rol-link:hover, a.n-rol-link:visited, .a.n-rol-link:active
{
    font-size:14px;
    font-family: Arial;
    color:#E0642C;
}
a.n-rol-link-end, a.n-rol-link-end:hover, a.n-rol-link-end:visited, a.n-rol-link-end:active
{
    font-size:14px;
    font-family: Arial;
    color:#E0642C;
    margin-left:10px;
}
a.n-str-ml
{
    font-family: Trebuchet MS;
    font-size:21px;
    color:#1F1E21;
}
.n-but
{
    width:136px;
    height:33px;
    background-image: url(/images/legacy/golos.png);
    border-width:0;
    cursor:pointer;
}

ul.n-menu-m
{
    padding:0;
    margin:0px;
}
ul.n-menu-m li
{
    /*dolmatov*/
    list-style: none;
}
ul.n-menu-m li.n-menu-d
{
    padding:8px;
    margin: 2px 20px 2px 10px;
    list-style: none;
}
ul.n-menu-m li.n-menu-d ul.n-menu-md
{
    padding:0;
    margin:0;
    margin-left:20px;
    list-style: none;
}
ul.n-menu-m li.n-menu-d ul.n-menu-md li.n-menu-dd
{
    margin:0;
    padding:0;
}
a.n-str-mlink, a.n-str-mlink:hover, a.n-str-mlink:active, a.n-str-mlink:visited
{
    font-size:13px;
    font-family: Trebuchet MS;
    color:#CC5E1E;
}
a.n-str-mblink, a.n-str-mblink:hover, a.n-str-mblink:active, a.n-str-mblink:visited
{
    font-size:13px;
    font-family: Trebuchet MS;
    color:#000;
    padding:8px;
    margin-left:-8px;
    background-color:#F1CD25;
}

.n-question-link, .n-question-link:link, .n-question-link:hover, .n-question-link:active, .n-question-link:visited
{
    font-family: Trebuchet MS;
    font-size:14px;
    color:#868788;
    text-decoration:none;
}
.n-question-blink, .n-question-blink:link, .n-question-blink:hover, .n-question-blink:active, .n-question-blink:visited
{
    font-family: Trebuchet MS;
    font-size:14px;
    color:#000;
    text-decoration:none;
    font-weight:bold;
}
p.n-qst-date
{
    margin:0;
    padding:0;
    font-family:Trebuchet MS;
    font-size:12px;
    color:#868788;
}
p.n-qst
{
    font-size:21px;
    font-family: Trebuchet MS;
    color:#E0642C;
}
p.n-qst-n
{
    font-family:Trebuchet MS;
    font-size:12px;
    color:#1F1E21;
}

p.n-qst-pr
{
    font-family:Arial;
    font-size:32px;
    color:#1F1E21;
    padding:0px;
    margin:0px;
    margin-right:10px;
}
.n-qst-pr-small
{
    font-family:Arial;
    font-size:10px;
    color:#CC5E1E;
    padding:0px;
    margin:0px;
    margin-right:10px;
}
.n-qst-rqst
{
    font-family:Trebuchet MS;
    color:#000;
    font-size:14px;
    margin:0;
    padding:0;
    font-style:normal;
    margin-left:10px;
}
.n-qst-kol
{
    padding:0;
    margin:0;
    color:#E7B242;
    font-family:Trebuchet MS;
    font-size:12px;
    margin-left:6px;
}
.n-qst-con
{
    margin:10px 0 20px 0;
    padding:0;
}
.n-qst-con-small
{
    margin-bottom:6px;
    padding:0;
}

.n-qst-line
{
    height:15px;
    background-image: url(/images/legacy/new-qst-line.png);
    background-repeat: repeat-x;
    float:left;
}
.n-pr-line
{
    height:7px;
    background-image: url(/images/legacy/new-pr-line.png);
    background-repeat: repeat-x;
    float:left;
}
a.n-qst-link
{
    font-family: Trebuchet MS;
    font-size:14px;
    color:#E0642C;
    text-decoration:underline;
}

.n-menu-lcon
{
    margin-left:10px;
    margin-right:20px;
}

.n-news-blink, .n-news-blink:link, .n-news-blink:hover, .n-news-blink:active, .n-news-blink:visited
{
    font-family: Trebuchet MS;
    font-size:18px;
    color:#1F1E21;
    text-decoration:none;
}
.n-news-link, .n-news-link:link, .n-news-link:hover, .n-news-link:active, .n-news-link:visited
{
    font-family: Trebuchet MS;
    font-size:13px;
    color:#1F1E21;
}

.n-news-lrol
{
    width:70px;
    float:left;
    margin:0;
    padding:0;
}
.n-news-rrol
{
    margin:0;
    padding:0;
    margin-left:20px;
    float:left;
}
.n-nimg-big
{
    margin:0px;
    margin-right: 15px;;
    margin-bottom: 5px;
    border:10px solid #ECECED;
    display:inline-block;
    float:left;

    /* border:10px solid #ECECED; */
}
.n-nimg-small
{
    border:10px solid #ECECED;
    float:left;
    margin-right:10px;
}
p.n-news-tx-t
{
    margin:0;
    padding:0;
    color:#6F7072;
    font-family:Arial;
    font-size:12px;
}
p.n-news-tx-b
{
    padding:0;
    margin:0;
    font-family:Arial;
    font-size:12px;
    color:#B0B1B3;
    text-align:right;
}
.n-news-mg
{
    margin-bottom:20px;
}

.n-mark, .n-mark-m
{
    background-image: url(/images/legacy/new_mark.png);
    background-repeat:no-repeat;
    width:8px;
    height:7px;
    display: block;
    float:left;
}
.n-mark
{
    float:left;
    margin:7px 7px 0 0;
}
.n-mark-m
{
    float:right;
    margin:7px 0 0 7px;
}
.n-cl
{
    width:96%;
    background-color:#F5F6F6;
    position:relative;
}
.n-c-l
{
    width:22px;
    height:22px;
    background-image: url(/images/legacy/new-c-l.png);
    background-repeat:no-repeat;
    position:absolute;
    top:0;
    left:0;

    z-index:10;
}
.n-c-r
{
    width:22px;
    height:22px;
    background-image: url(/images/legacy/new-c-r.png);
    background-repeat:no-repeat;
    position:absolute;
    top:100%;
    left:100%;
    margin-left:-22px;
    margin-top:-22px;

    z-index:11;
}
.n-c-con
{
    padding:22px;
    margin-top:20px;
}

a.n-newso-mlink, a.n-newso-mlink:hover, a.n-newso-mlink:active, a.n-newso-mlink:visited
{
    font-size:24px;
    font-family: Trebuchet MS;
    color:#1F1E21;
}
/* updatemenu1
.n-newso-link, a.n-newso-link:hover, a.n-newso-link:active, a.n-newso-link:visited
*/
.n-newso-link, a.n-newso-link:hover, a.n-newso-link:active, a.n-newso-link:visited
{
    color:#CC5E1E;
    font-family: Trebuchet MS;
    font-size:21px !important;
}


a.n-news-hist, a.n-news-hist:active, a.n-news-hist:hover, a.n-news-hist:visited
{
    font-family:Trebuchet MS;
    font-size:24px;
    color:#1F1E21;
    margin-left:25px;
    text-decoration:none;
}
p.n-mn
{
    font-family: Arial;
    font-size:12px;
    color:#1F1E21;
    margin:0;
    padding:0;
    float:left;
}

.n-com
{
    width:100%;
    border-top:1px solid #d1d1d2;
    border-left:1px solid #d1d1d2;
    margin-top:20px;
/*    clear: both;*/
}
.content-wrp .n-com {
    clear:both;
}

.n-com-con
{
    margin:26px 0 0 26px;
}
.n-com-l
{
    width:26px;
    height:26px;
    position:absolute;
    margin-top:-1px;
    margin-left:-1px;
    background-image: url(/images/legacy/new-com-l.png);
    background-repeat:no-repeat;
}
.n-com-tit
{
    width:100%;
    background-color:#F5F6F6;
    position:relative;
}
.n-com-tit-con
{
    padding:23px;
}
.n-com-but
{
    width:83px;
    height:22px;
    background-image: url(/images/legacy/new-but-send.png);
    border-width:0;
    cursor:pointer;
    float:right;
    margin:3px;
}
.n-com-img, .n-com-img-m
{
    float:left;
    width:68px;
    height:auto;
    margin-right:20px;
}
.n-com-img-m
{
    margin-left:23px;
}
.n-input-txt
{
    width:98%;
    font-family:Arial;
    font-size:12px;
    height:60px;
    /*color:#B0B1B3;*/
    padding: 4px 1% 4px 1%;
}
p.n-com-tit-txt, a.n-com-con-l:hover, a.n-com-con-l:active, a.n-com-con-l:visited, a.n-com-con-l, a.n-com-con-l:link
{
    font-family: Trebuchet MS;
    font-size:14px;
    padding:0;
    margin:0;
}
a.n-com-con-l, a.n-com-con-l:hover, a.n-com-con-l:active, a.n-com-con-l:visited, a.n-com-con-l, a.n-com-con-l:link
{
    color:#E0642C;
}
p.n-com-tit-txt
{
    color:#000;
}
.n-com-tit-t
{
    /*border-bottom:1px dashed #000;*/
    margin-bottom:5px;
    margin-left:23px;
    float:left;
}
.n-com-r-txt, p.n-com-txt
{
    font-family:Arial;
    font-size:12px;
    font-style:normal;
}
.n-com-r-txt
{
    color:#B0B1B3;
    margin-left:6px;
}
p.n-com-txt
{
    color:#000;
}
.n-ch-txt
{
    color:#9B9C9E;
    font-family:Arial;
    font-size:12px;
    font-style:normal;
}
/* updatemenu1
a.n-main-m, a.n-main-m:hover, a.n-main-m:visited, a.n-main-m:active
*/
a.n-main-m, a.n-main-m:visited, a.n-main-m:active
{
    font-family:Trebuchet MS;
    font-size:13px;
    color:#000;
    text-decoration:underline;
    margin-bottom:4px; /* updatemenu1 */
}
/* updatemenu1 */
a.n-main-m:hover
{
    text-decoration:none;
}

.label_check {padding-bottom: 5px;}
.label_radio {padding-bottom: 2px;}

.has-js .label_check,
.has-js .label_radio { padding-left: 24px; }
.has-js .label_radio { background: url(/images/legacy/new-ch-off.png) no-repeat; }
.has-js .label_check { background: url(/images/legacy/new-ch-off.png) no-repeat; }
.has-js label.c_on { background: url(/images/legacy/new-ch-on.png) no-repeat; }
.has-js label.r_on { background: url(/images/legacy/new-ch-on.png) no-repeat; }
.has-js .label_check input,
.has-js .label_radio input { position: absolute; left: -9999px; }

#menu {
    display:inline;
    float:left;
    position:relative;
    margin:7px 0px 0px 40px;
    /*updatemenu1 height:12px;*/
    font-size:12px;
    z-index:20;
}

#menu li.main {
    height:30px;
    float:left;
    position:relative;
    display:block;
    margin-left:15px;
    z-index:20;
}

#menu a {
    text-decoration:none;
    display:block;
}
#menu a:hover {
    color:#f0c807;
    text-decoration:none;
}

#menu li ul {
    display:none;
    position:absolute;
}

#menu li:hover ul {
    display:block;
    z-index:20;
    line-height:24px;
    margin-top:7px;
    margin-left:0;
    padding-left:0;
    background-color:#faeaa8;
    background-image: url(/images/legacy/new-menu.png);
    background-repeat: repeat-x;

    border: 1px solid #F1CD25;
    border-radius: 0px 10px 0 10px;
    behavior: url(PIE.htc);
    padding:15px;
}

#menu li:hover ul li  {
    z-index:20;
    font-family:Trebuchet MS;
    font-size:13px;
    color:#000;
    text-decoration:underline;
}
#menu li {
   list-style:none;
}

/* main news */

.n-main-bth-linkm:link, .n-main-bth-linkm:hover, .n-main-bth-linkm:active, .n-main-bth-linkm:visited
{
    font-size:12px;
    color:#9B9C9E;
    font-family:Trebuchet MS;
    border-bottom:1px dashed #9B9C9E;
    text-decoration:none;
    margin:10px;
/*    margin-left:20px; */
}

.n-main-bthd-link:link, .n-main-bthd-link:hover, .n-main-bthd-link:active, .n-main-bthd-link:visited
{
    font-family:Trebuchet MS;
    font-size:14px;
    color:#1F1E21;
    text-decoration:none;
}

.n-mnew-date, p.n-mnew-com
{
    padding:0;
    color:#868788;
    font-family:Arial;
    font-size:11px;
}
.n-mnew-date
{
    margin:0 0 0 20px;
    padding:0 0 4px 0;
}
p.n-mnew-com
{
    margin:0;
}
.n-mnew-con
{
    margin:0 0 30px 80px;
}
p.n-mnew-txt
{
    font-family: Arial;
    font-size:12px;
    color:#1F1E21;
    margin:0;
    padding:0;
}
.n-mnew-img
{
/*  width:114px;
    height:102px; */
    float:left;
    margin-right:20px;
}
a.n-mnew-link:link, a.n-mnew-link:hover, a.n-mnew-link:active, a.n-mnew-link
{
    color:#CF5E2C;
    font-family:Arial;
    font-size:14px;
}
a.n-mnew-link:visited
{
    color:#845E3B;
}
/* END main news */

/* main com */
.n-mcom-con
{
    background-image: url(/images/legacy/new-mnew.png);
    background-repeat:repeat-x;
    width:100%;
    position:relative;
    margin-top:10px;
}
.n-mcom-l
{
    width:22px;
    height:22px;
    background-image: url(/images/legacy/new-mnew-l.png);
    background-repeat:no-repeat;
    position:absolute;
    top:0px;
    left:0px;
}
.n-mcom-ccon
{
    padding:22px;
}
p.n-mcom-date
{
    font-family:Trebuchet MS;
    font-size:12px;
    padding:0;
    margin:0 0 10px 0;
    color:#704E2C;
}
p.n-mcom-txt
{
    font-family: Arial;
    font-size:12px;
    color:#000;
    padding:0;
    margin:0;
}
p.n-mcom-t-txt
{
    font-family:Trebuchet MS;
    font-size:11px;
    color:#000;
    padding:0;
    margin:4px 0 0 0;
}
.n-mcom-img
{
    max-width:33px;
    max-height:39px;
    float:left;
    margin:0 14px 0 0;
}
.n-mcom-link:link, .n-mcom-link:active, .n-mcom-link:hover, .n-mcom-link:visited, .n-mcom-link
{
    font-family:Trebuchet MS;
    color:#704E2C;
    font-size:12px;
}
p.n-mcom-tit
{
    color:#1F1E21;
    font-family:Trebuchet MS;
    font-size:18px;
    margin:0 0 0 80px;
}
/* END main com */

.pers-inf p {
    padding:0;
}

.easy p {
    margin-bottom: 0px;
    font-size: 1em;
}