@media screen {

  /*reset*/

  html,body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,span,a
  {
    background-repeat:no-repeat;
    margin:0;
    padding:0;
    -webkit-font-smoothing:antialiased;
  }

  .normalize-font-size, .normalize-font-size td, .normalize-font-size th{
      font-size: 12px !important;
  }  

  /* .radio {padding-top:8px;} */

  table{
    border-collapse:collapse;
    border-spacing:0
  }

  h1,h2,h3,h4,h5,h6{
    /*font-size:100%;*/
    font-weight:normal;
  }

  h4 {
      font-family: Trebuchet MS;
      font-size: 18pt;
  }

  img {
    border:0;
  }

  /*end reset*/

  /*dolmatov*/
  h2{
    font-size: 2.1em;
    margin: 0 0 .2em 0;
  }

  /*-- tags --*/
  html {
    font: .625em Arial,sans-serif;
    width: 100%;
  }

  body {
    background-color: #fff;
    color: #000;
    min-width: 1100px;
    width: 100%

  }

  .vcf {
      text-transform: uppercase;
      font-family: 'Tahoma';
      font-weight: normal;
      font-size: 14pt;
      padding-bottom: 20px;
  }

  .uc {
      text-transform: uppercase;
  }
  /*headers*/
  /*h1 {
    margin-bottom: 0;
    margin-top: 0
  }*/

  /*h2 {
    margin-bottom: 0;
    margin-top: 0
  }*/

  /*h3 {
    margin-bottom: 0;
    margin-top: 0
  }*/

  /*paragraphs*/
  /*p {
    margin: 0 0 1.5em
  }*/

  /*lists*/
  /*ol, ul {
    margin: 0 0 1.5em 0;
    padding: 0;
  }*/

  /*ol li, ul li {
    margin: 0 0 0.75em 1.5em;
  }*/

  /*li ol, li ul {
    margin: 0.75em 0 0.75em 0;
    padding: 0;
  }*/

  /*links*/
  a:link {
		color:#CC5E1E;
  }

	a:visited {
		color:#6d3311;
	}

  a:hover, a:active {
		text-decoration: none;
  }

  sub,sup {font-size:0.85em;position:relative;top:1px;}
  sub {vertical-align:bottom}
  sup {vertical-align:top}

  /*-- end tags --*/

  /*-- specified classes --*/

  /*layout blocks conatiner*/
  .ns {letter-spacing:-.25em;word-spacing:-.25em}

  /*layout block (column)*/
  .lb {
    letter-spacing: 0;
    display: inline-block;
    vertical-align: top;
    word-spacing: 0
  }

  /*image container*/
  .imgc {
    background: #ECECED;
    display: inline-block;
    padding: 10px 10px 8px 10px;
  }

	/* white text input */
	.txinp {
		border: 0;
    background-color: #fff;
		font-size: 1.5em;
		height: 1.4em;
		padding: 0 0 0 4px;
	}

  /*-- yellow rounded block --*/

  .yrb {
		background-image: url(/images/legacy/bkg-yrb.png);
		background-repeat: repeat-x;
		background-color: #e6b016;
    position: relative;
    overflow: hidden;
  }

	.yrb-r {
		-webkit-border-top-left-radius: 12px;
		-webkit-border-bottom-right-radius: 12px;
		-moz-border-radius-topleft: 12px;
		-moz-border-radius-bottomright: 12px;
		border-top-left-radius: 12px;
		border-bottom-right-radius: 12px;
	}

      /*corners*/
      .yrb-tlc,.yrb-brc {
        background-image: url(/images/legacy/e.png);
        display: block;
        position: absolute;
        z-index: 3;
      }

			/*top left corner*/
      .yrb-tlc {
        background-position: -107px -111px;
        height: 18px;
        left: 0;
        top:0;
        width: 20px;
      }

			/*bottom right corner*/
      .yrb-brc {
        background-position: -107px -94px;
        bottom: 0;
        height: 17px;
        right: 0;
        width: 18px;
      }

	/*-- end yellow rounded block --*/

	/*-- buttons --*/

	.ybtn,.obtn {
		background-image: url(/images/legacy/e.png);
		border: 0;
		font-size: 1.4em;
		height: 21px;
		padding: 0 0 3px 0;
	}

	/*yellow button*/
	.ybtn {
		background-color: #f2cb05;
		background-position: 100% 0;
	}

	.ybtn:hover {
		background-color: #fdd00b;
		background-position: 100% -21px;
	}

	/*orange button*/
	.obtn {
		color: #fff;
		background-color: #e0642c;
		background-position: 100% -260px;
	}

	.obtn:hover {
		background-color: #f06525;
		background-position: 100% -282px;
	}

	/*-- end buttons --*/

  /* menu items */

  .m-it {
    display: inline-block;
    list-style: none;
    padding:.2em .6em;
	}

	.m-it-ac {background-color:#fcd51e;}
  a.m-it-ac{color:#000;text-decoration: none}

  /*-- end specified classes --*/

  /*project styles*/

  /*-- base 2 columns layout (+ 3 pseudo columns) --*/

    /*cols container*/
    .cols23-cnt {
      padding: 0 0 0 250px;
      position: relative;
    }

    /*left col*/
    .c23-lcol {
      left: 0;
      position: absolute;
      top: 0;
      width: 250px;
    }

    /*right col*/
    .c23-rcol {
      position: relative;
      width: 100%;
    }

    /*-- end base two columns layout --*/

  /*-- head --*/

  .head {
		background-image: url(/images/legacy/bkg-top.png);
    padding: 0 24px 0 33px;
  }

  .head-pad {
    padding: 0 0 0 235px;
  }

  .head-pad .c23-lcol {width: 235px}




  .c23-lcol-mod
  {
      left: 0;
      position: absolute;
      top: 0;
      width: 156px;
  }
  .cols23-cnt-mod
  {
      padding: 0 0 0 146px;
      position: relative;
  }





  /*logo block*/
  .logo {
    padding: 10px 0 0 0;
  }

  /*logo-link*/
	.logol {display: block}

    /*-- search block --*/
    .search {
      margin: 8px 0 8px auto;
			text-align: right;
      width: 60%;
    }

      /*search text input*/
			.srch-txt-in {
				background-color: #f6f6f6;
        border: 1px solid #cfcfcf;
				font-size: 1.4em;
				height: 1.3em;
				line-height: 1.4em;
				padding: 0 0 0 0.2em;
				vertical-align: middle;
        width: 70%;
      }

			.srch-txt-in:focus {
				border-color: #f1cd25;
			}

			/*search submit*/
			.srch-sbmt {
				margin: 0 0 0 0.6em;
				vertical-align: middle;
				width: 4.8em;
			}

    /*-- end search block --*/

    /*-- main menu --*/

    /*main menu conatiner*/
		.main-menu-pad {
			border: solid #f1cd25;
			border-width: 1px 1px 0 0;
			min-height: 60px;
			position: relative;
			padding: 0;
		}

    /*main menu right rounded corner*/
		.mm-round {
			background-image: url(/images/legacy/new-e.png);
			height: 60px;
			right: -1px;
			position: absolute;
			top: -1px;
			width: 107px;
			z-index: 1;
		}

    /*main menu list, items*/
    .main-menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .main-menu {
			padding: 1.5% 0 0 0;
			position: relative;
			z-index: 2;
		}

    .mm-it {
      font-size: 1.5em;
      line-height: 1.8em;
      margin: 0 4px .5em 4px;
      padding: 0 .6em;
    }


      /*links on main menu*/
      .mm-l:link,.mm-l:visited {
				color: #000;
			}


    /*-- end main menu --*/

  /*-- end head --*/

  /*-- content --*/

  .content-wrp {
		margin: 0 24px 0 16px;
		padding: 16px 0 0 16px;
  }

  .content-wrp, .main-add {
    border: solid #F1CD25;
		border-width: 1px 0 0 1px;
    position: relative;
  }

    /*content top left rounded corner*/
		.cw-round {
			background-image: url(/images/legacy/e.png);
			background-position: -107px -42px;
			display: block;
			height: 23px;
			left: -1px;
			position: absolute;
			top: -1px;
			width: 21px;
      z-index: 1;
		}

  /*-- two columns layout (as on main) --*/

  .m-twocols-cnt {}

  /*left*/
  .mtc-lcol {
    margin: 0 4.5% 0 0;
    width: 45%;

  }

  /*right*/
  .mtc-rcol {
    width: 50%;
  }

  .mtc-rcol-pad {
    padding-left: 24px;
  }

  /*-- end two columns layout (as on main --*/

    /*-- footer --*/

    /*sticky footer*/
    html,body {height: 100%}

    .shell {
      min-height: 100%;
    }

    .content-wrp {padding-bottom:164px}

    .footer {
      background-image: url(/images/legacy/bkg-bottom.png);
      background-position: 100% 100%;
      height: 164px;
      margin: -164px 0 0 0;
      z-index:-100;
      position: relative;
    }

    /*footer content*/

    .ftr-cnt {
      position: absolute;
      right: 24px;
      top: 80px;
    }

    .copyright {
      font-size: 1.2em;
      margin: 24px 0 0 0;
    }

    /*-- end footer --*/

  /* news lists */

  /*news block*/
  .news-it {
    font-size: 1.4em;
    line-height: 1.4em;
  }

  /*news date*/
  .news-date {
    color: #6F7072;
    font-size: 0.9em;
  }

  /*link to news*/
  .news-l {
    display: block;
    margin: 0 0 1em 0;
  }

  /* end news lists */

  /*-- main page --*/

    /*-- general material on main --*/

    .general-material {
      height: 124px;
      overflow: hidden;
      position: relative;
      z-index: 2;
    }

    /* main materal text */

    .gm-text-base {
      height: 124px;
      position: relative;
      width: 68%;
    }

    /*main material text layouts*/
    .gm-tx-t,.gm-tx-b {
      position: relative;
      width: 100%;
      z-index: 5;
    }

    .gm-tx-t {height: 45%} /*top container*/
    .gm-tx-b {height: 55%} /*bottom container*/

    /* main material header */

    .gm-header {
      bottom: 0px;
      font-size: 2.4em;
      line-height: 1.2em;
      padding: 0 0 0 24px;
      position: absolute;
      width: 100%;
    }

      /*link in header*/
      .gm-h-l:link,.gm-h-l:visited {color: #000}

    .gm-message {
      top: 0;
      font-size: 1.5em;
      line-height: 1.3em;
      padding: 0 0 0 24px;
      position: absolute;
      width: 100%;
    }

    /* end main materal text */

    /*image container*/
    .gm-img-cnt {
      margin: 0 0 0 30px;
      position: absolute;
      left: 100%;
      top:0;
    }

    /* decorations */
    .gm-rd-w,.gm-rd,.gm-rd-t,.gm-ld-w,.gm-ld,.gm-ld,.gm-ld-t {
      display: block;
      height: 124px;
      position: absolute;
      top: 0;
    }

    /*right solid decor*/
    .gm-rd-w {
      background-color: #dd951a;
      left: 100%;
      width: 100%;
    }

    .gm-rd {
      background-image: url(/images/legacy/bkg-gm-solid.jpg);
      background-position: -206px 0;
      left: 0;
      width: 305px;
    }

    /*right transperent decor*/
    .gm-rd-t {
      background-image: url(/images/legacy/bkg-gm-alpha.png);
      background-position: -604px 0;
      left: -30px;
      width: 50px;
      z-index: 3;
    }

    /*left solid decor*/

    .gm-ld-w {
      background-color: #f7bc12;
      left: 0;
      margin: 0 0 0 -120px;
      width: 100%;
    }

    /*left transperent decor*/
    .gm-ld-t {
      background-image: url(/images/legacy/new-bkg-gm-alpha.png);
      margin: 0 0 0 -120px;
      left: 100%;
      width: 604px;
      z-index: 3;
    }

    /* end decorations */

    /*top left corner*/
    .gm-tlc {
      background-image: url(/images/legacy/e.png);
      background-position: -130px -65px;
      display: block;
      left: 0;
      height: 11px;
      position: absolute;
      top: 0;
      width: 11px;
    }

    /*-- end general material on main --*/

    /*-- grey panel on main --*/
    .useful-panel {
      background-image: url(/images/legacy/e.png);
      background-position: 0 -136px;
      background-repeat: repeat-x;
      border: solid #c5c5c7;
      border-width: 0 1px 1px 1px;
      height: 124px;
      margin: 0 0 2.6em 0;
      position: relative;
      z-index: 3;      
    }

      /*grey panel section*/
      .upan-s {
        padding: 16px 0 0 0;
        /*width: 24.9%;*/
       	width: 18%;
      }

      /*oil count section*/
      .upan-s-c {margin: 0 0 0 2.5%}

      /*photoline section*/
      .upan-s-p {
        margin: 0 4%;
        /*width: 14%*/
       	width: 11%
      }


        /*panel sections headers*/
        .upan-hdr {
          color: #767777;
          font-size: 1.4em;
          line-height: 1.35em;
          margin: 0 0 .6em 0;
        }

        /*oil counter*/
        .oc-cnt {

        }

        /*counter numbers*/
        .oilc-n {
          background-image: url(/images/legacy/e.png);
          background-position: -150px -42px;
          display: inline-block;
          font-size: 2.8em;
          height: 43px;
          line-height: 43px;
          margin: 0 4px 0 0;
          text-align: center;
          width: 34px;
        }

        /*end oil counter*/

        /*photoline link*/

        .phline-l:link,.phline-l:visited {
          color: #000;
          display: inline-block;
          font-size: 1.3em;
          line-height: 1.25em;
          margin: .5em 0 0 0;
        }

        .phline-i {
          display: block;
          margin: 0 0 .2em 0;
        }

        /*end photoline link*/

        /*quotes*/

        .quotes {
          border-top: 1px solid #D8D9DA;
          margin: -.1em 0 0 0;
          padding: 1em 0 0 0;
          width: 17.5em;
        }
        .new-quotes {
          margin: -.1em 0 0 0;
          padding: 1em 0 0 0;
          width: 18em;
        }

        /*qutoes row*/
        .qts-row {
          font-size: 1.4em;
          margin: 0 0 .6em 0;
        }

        /*quotes number*/
        .qts-n {
          font-size: 1.4em;
          margin: 0 .2em 0 0;
        }

        /*dollar color*/
        .qts-d {color: #4A8938}

        /*warm color*/
        .qts-w {color: #CF5E2C}

        /*cold color*/
        .qts-c {color: #4171B1}

        /*end quotes*/

      /*grey panel bottom right corner*/
      .upan-round {
        background-image: url(/images/legacy/e.png);
        background-position: -128px -42px;
        bottom: -1px;
        display: block;
        height: 22px;
        position: absolute;
        right: -1px;
        width: 22px;
      }

      /*top right corner (general material cover)*/
      .upan-gm-crn {
        background-image: url(/images/legacy/e.png);
        background-position: -107px -65px;
        display: block;
        height: 29px;
        position: absolute;
        right: -1px;
        top: -21px;
        width: 23px;
      }

    /*--end grey panel on main --*/

    /* main page news block */

    /*main news header*/

    .main-news-hdr {
      font-size: 24px;
      margin: 0 0 0.5em 80px;
    }

    /*main news item*/

    .main-news .news-it {
      margin: 0 0 1em 0;
    }

      /*main news date*/
      .main-news .news-date {
        padding: 0 6% 0 0;
        text-align: right;
        width: 20%;
      }

      /*main news container*/
      .main-news .news-cnt {width: 74%}

      .main-news .imgc {margin: 0 0 1.1em 0}

      .main-news p {
        font-size: 12px;
        margin: 0 0 0.9em 0
      }

    /* end main page news block */

/* main page org structure */

.mos-hdr {
    font-size: 2.1em;
    margin: 0 0 .2em 0;
}

    .birth-day {
      background-image: url(/images/legacy/tort.png);
      background-position: 100% 0;
      display: inline-block;
      padding:4px 42px 0 0;
      min-height: 28px;
    }

		/*.morgs-col {
			width: 50%;
		}

		.morgs-l {
			display: block;
			font-size: 1.4em;
		}*/

		.main-org-structure,.mos-it {
			list-style: none;
			margin: 0 0 2.4em 0;
			padding: 0;
		}

		.mos-it {
			display: inline-block;
			font-size: 1.45em;
			line-height: 1.4em;
			margin: 0 0 1.3em 0;
			vertical-align: top;
			width: 49.5%;
		}

		.mos-l:link,.mos-l:visited {color:#000}

		/* end main page org structure */

    /* main page additional block */

    .main-add {
      padding: 20px 0 0 0;
    }

    .ma-shdr {
      font-size: 1.8em;
      margin: 0 0 1em 0;
      line-height: 100%;
    }

      /* birth days */
      .person-small {
        min-height: 130px;
        display: inline-block;
/*        float:left;*/
        /* min-height: 80px; */
        margin-bottom: 22px;
        margin-right:10px;
        overflow: hidden;
        position: relative;
        width: 49%;
      }

       .person-small-bday {
        display: inline-block;
        min-height: 80px;
        margin-bottom: 22px;
        overflow: hidden;
        position: relative;
        width: 49%;
      }

      .pes-pad {padding: 0 0 0 82px}

      .pesm-i {
        float: left;
        margin-right: 12px;
      }

      .pers-inf {
        font-size: 10pt;
      }

      ul li
      {
        line-height: 1.45em;
        font-size: 1.3em;
      }

      ol {
        list-style-position: inside;
      }
      ol li
      {        
        line-height: 1.45em;
        font-size: 1.3em;
      }

      ul li p
      {
          font-size: 1em !important;
          line-height: 1em !important;
      }

      /* end birth days */

    /* end main page additional block */

  /*-- end main page --*/

  /*-- employee search panel --*/

    .employee-search {
        margin-bottom:20px;
        padding-bottom: 12px;
        padding-top: 12px;
		}

      /*employee serach header*/
      .emps-hdr {
        font-size: 2.1em;
      }

			/* emp search inputs container */
			.emps-inp-pad {
				padding: 0 7.8em 0 0;
				position: relative;
			}

      /*employee serach text input*/
      .emps-in {
				width: 100%;
      }

			/*emp search submit*/
			.emps-sbm {
				position: absolute;
				right: 0;
				top: 0;
				width: 4.8em;
			}

			/* emp search hint */
			.emps-hint {
				font-size: 1.2em;
				line-height: 1.3em;
				margin: 0 0 0 24px;
			}

     /* employee search on main page */
     .m-es {margin: 0 0 3.2em 0}
     .m-e-h {margin: 0 0 .4em 24px} /*emps-hdr*/
     .m-e-i-p {margin: 0 22px 2px 24px} /*emps-inp-pad*/
    /* end main page employee serach */

    /*emp search layout on pages*/
    .l-e-h { /*emps-hdr*/
      font-size: 1.9em;
      margin: 10px 0 0 24px;
    }
    .l-e-i-p {margin: 0 24px 0 0} /*emps-inp-pad*/
    /*end emp search layout on pages*/

  /*-- end employee search --*/

  /*-- navigation left menu --*/

  .nav-menu {
    list-style: none;
    margin: 0;
    padding: 0 24px 0 0;
  }

  .nm-it {
    display: block;
    font-size: 1.3em;
    margin: 0 0 1em 0;
  }

  .nm-it .nav-menu {
    font-size: .75em;
    margin: 1em .1em 0 1em;
  }

  /*-- end navigation left menu --*/

  /*-- article --*/

  .tpad {
    padding-top: 36px;
  }

  .article {}

  .article div {
    
  }

  .article h3 {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom:.4em;
  }

  .article h4, .article .tab-title {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom: .1em;

  }

  .article p {
    font-size: 1.3em;
    line-height: 1.45em;
    margin-bottom: 1.4em;
    color: #444;    
  }

  .article td p {
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 0.1em;
  }


  .article span {
      font-size: 1.3em;
      line-height: 1.45em;
  }


  .accent-text {
    color:#d18b19;
    font-style: italic;

  }

  .article p.accent-text {
    font-size: 1.6em;
    margin-left: 4em;
  }

  .article .accent, .article p.accent {
    background-color: #ebeadf;
    padding: 1em;
  }

  .accentnp {
      background-color: #ebeadf;
      padding: 0;
  }
  .article .intro {
    font-size: 1.8em;
  }

  /* tables */

  .article table {
    border-collapse: collapse;
    margin: 0 0 1.8em 0;
  }

  .article th /*, .article td*/ {
    font-size:1.4em;
    line-height: 1.4em;
    padding: .85em .8em;
    text-align: left;
  }

  .article th {
    font-size:1.3em;
    font-weight: bold;
  }

  .tab-sel-c,.table-stripe tr:nth-child(odd), .tablecontent tr:nth-child(odd) {background-color:#e5e4cf}
	.tab-sel-c th,.tab-sel-c td {background-color:#e5e4cf}


  .article .table-stripe, .article .tab-cell .tablecontent{
    margin-bottom:2.4em;
  }

  .table-stripe th, .table-stripe td, .tablecontent td {
    padding:.8em;
  }

  .tab-cell th, .tab-cell td {
    border: 2px solid #dbdac5;
    padding: .6em .8em .6em 1.2em;
  }

  /* end tables */

  /*image title, dates, grey text*/
  .capt {
    color: #797A7A;
    font-size: 1.3em;
    margin-bottom: .5em;
  }

  /*image container*/
  .article .imgc {
    margin-bottom: 1.6em
  }

  .article h1,.article h2,.article h3,.article h4,.article p, .article table {
    /*margin-right: 28%;*/
    /* width: 68%;*/
  }

  /* notes pseudo third column */
  .note {
    font-size: .85em;
    position: absolute;
    right: 0;
    width: 27%;
  }

  .note-alt
  {
      display:inline-block;
      float:right;
      clear:right;
      width:27%;
      padding:15px !important;
      font-size: .85em;
      margin-left:18px;
  }

  .note-alt p
  {
      font-size:1.5em;
  }
  .article .yrb {
    padding:18px 0 0 0;
  }

  .yrb .imgc {
    margin-left: 20px;
    margin-right: 12px;
    overflow: hidden;
    padding: 4px 4px 3px 4px;
  }

  .ta-c .imgc {
    margin: 0 0 1.4em 0;
    display: inline-block;
  }

  .note h1,.note h2,.note h3,.note h4,.note p  {
    margin-left: 20px;
    margin-right: 12px;
    width: auto;
  }

  .note p {line-height: 1.4em}

  /* documents links */

  .ico-l {
    display: inline-block;
    min-height: 30px;
    padding-top: 2px;
    padding-left: 38px;
  }

	.ico-l-s  {
		display: inline-block;
		font-size: 0.9em;
		min-height: 16px;
		padding-left: 20px;
	}

  .todoc {
    background-image: url(/images/legacy/f-doc.png);
  }

  .topdf {
    background-image: url(/images/legacy/f-pdf.png);
  }

  .toxls {
    background-image: url(/images/legacy/f-xls.png);
  }

  .toppt {
    background-image: url(/images/legacy/f-ppt.png);
  }

  .tozip {
    background-image: url(/images/legacy/f-zip.png);
  }

  .torar {
    background-image: url(/images/legacy/f-rar.png);
  }

  .tofile {
    background-image: url(/images/legacy/f-file.png);
		padding-left: 34px;
  }


	.to-s-doc {
    background-image: url(/images/legacy/f-s-doc.png);
  }

  .to-s-pdf {
    background-image: url(/images/legacy/f-s-pdf.png);
  }

  .to-s-xls {
    background-image: url(/images/legacy/f-s-xls.png);
  }

  .to-s-ppt {
    background-image: url(/images/legacy/f-s-ppt.png);
  }

  .to-s-zip {
    background-image: url(/images/legacy/f-s-zip.png);
  }


  .to-s-file {
    background-image: url(/images/legacy/f-s-file.png);
  }

  /* end documents links*/

  /* end notes */

  .gt,.gt:link  {color: #797A7A}

  /* employee block*/

  .employee {
    margin: 0 0 2em 0
  }

  .employee p {
      font-size: 1.3em; padding-top: 6px;
      margin: 0;
  }

   .emp-post {
    font-size: 1.6em;
    margin-bottom: 0.5em;

  }

	.article .pers-inf {
		font-size: 1em
	}

	.article .pers-inf p {
		margin: 0;
	}

  /*photo slides block*/

  .photo-slides {
    background-color: #ECECED;
    padding: 16px 8px 0 8px;
    margin: 0 0 1em 0;
    overflow:hidden;
  }

  .faq-header
  {
      padding:0;
      font-size:1.6em;
  }
  .faq-header a {text-decoration:none;
                 border-bottom: 1px dashed;}
  .faq-header a:hover {border-bottom: 0px;}

  .ps-l {
    background: #e56a27;
    display: inline-block;
    margin:0 8px 16px 8px;
    vertical-align: top;
  }

  .ps-i {display: block}

  .ps-l:hover .ps-i {opacity:.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60)}

  /*-- end article --*/

  /*-- end content block --*/

  /*end project styles*/

  /*-- common classes --*/

  /*text*/
  .b {font-weight:bold}
  .uc {text-transform:uppercase}
  .ta-c {text-align:center}
  .ta-l {text-align:left}
  .ta-r {text-align:right}
  .td-n {text-decoration: none}
  .td-u {text-decoration: underline}

  /*font sizes*/
  .f1 { font-size: 1em !important; }
  .f1 li {font-size: 1em !important; }
  .f065,.article .f065 {font-size:.65em}
  .f07, .article .f07 {font-size:.7em}
  .f075,.article .f075 {font-size:.75em}
  .f08, .article .f08 {font-size:.8em}
  .f085, .article .f085 {font-size:.85em}
  .f09, .article .f09 {font-size:.9em}
  .f11, .article .f11 {font-size:1.1em}
  .f12 , .article .f12 {font-size:1.2em}
  .f13, .article .f13 {font-size:1.3em}
  .f14, .article .f14 {font-size:1.4em}
  .f15, .article .f15 {font-size:1.5em}
  .f16 , .article .f16 {font-size:1.6em}
  .f17, .article .f17 {font-size:1.7em}
  .f18, .article .f18 {font-size:1.8em}
  .f19, .article .f19 {font-size:1.9em}

  /*cols and floats*/
  .fl, .col {float:left}
  .fr {float:right}
  .cnt,.ofh {overflow:hidden} /*cols, floats container*/
  .cb {clear:both;}

  /*clearfix*/
  /*

  .fl, .col {_clear: right}
  .fr {_clear: left}

  .ccnt:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
  }

  .ccnt {
    display: block;
  }

  .ccnt {
    //display: inline-block;
  }

  * html .ccnt {
    height: 1%;
  }
  */

  /*position*/
  .rp  {position:relative}
  .ap {position:absolute}

  /*visible*/
  .hdn {visibility:hidden}
  .vis {visibility:visible}

  /*display*/
  .na {display:none;}
  .ib {display:inline-block}
  .bl {display:block}

  /*colors*/
  .black {color:#000}
  .nbkg {background:none}
  .wbkg {background-color: #fff}
  .nop {opacity: 1; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)}

  /*cursors*/
  .clck {
    cursor: pointer;
  }

  /*borders*/
  .nbrd {border:0}

  /*z-indexes*/
  .z1 {z-index: 1}
  .z2 {z-index: 2}
  .z3 {z-index: 3}
  .z4 {z-index: 4}
  .z5 {z-index: 5}

  /*overflows*/
  .ofxh {overflow-x:hidden}
  .ofxa {overflow-x:auto}

  /*dashed-dotted links*/
  .da  {
    /*
    border-bottom: 1px dotted #E0642C;
    display:inline-block;
    line-height:1em
    text-decoration:none
    */
  }

  .da:hover {
    /*
    border-bottom: 1px dotted #202020
    */
  }

  /*dotted dashed links*/
  a.da:link, a.da:visited {
    /*
    text-decoration: none;
    color: #0072bc;
    border-bottom: 1px dashed #0072bc;
    */
  }

  a.da:hover, a.da:active {
    /*
    text-decoration: none;
    border-bottom: 1px dashed #bc0000;
    color: #bc0000;
    */
  }

  /*lists*/
  .nl {list-style:none;margin:0;padding:0;}
  .birth-other { padding:0 10px;}
  .birth-other a {text-decoration:none;
                 border-bottom: 1px dashed;}
  .birth-other a:hover {border-bottom: 0px;}
  /*margins paddings*/
  .cntr {margin-left:auto;margin-right:auto}
  .nm {margin:0}
  .np {padding:0}
  .nmt, .nmtb {margin-top:0}
  .nmb, .nmtb {margin-bottom:0}
  .nml, .nmlr {margin-left:0}
  .nmr, .nmlr {margin-right:0}
  .npt, .nptb {padding-top:0}
  .npb, .nptb {padding-bottom:0}
  .npl, .nplr {padding-left:0}
  .npr, .nplr {padding-right:0}
  .pt5 {padding-top: 5px !important;}
  .mb1 {margin-bottom:1px}
  .mt1 {margin-top:1px}
  .mb2 {margin-bottom:2px}
  .mt2 {margin-top:2px}
  .mb3 {margin-bottom:3px}
  .mt3 {margin-top:3px}
  .mb4 {margin-bottom:4px}
  .mt4 {margin-top:4px}
  .mb6 {margin-bottom:6px}
  .mt6 {margin-top:6px}
  .mb8 {margin-bottom:8px}
  .mt8 {margin-top:8px}
  .mb10 {margin-bottom:10px}
  .mt10 {margin-top:10px}
  .mb12 {margin-bottom:12px}
  .mt12 {margin-top:12px}
  .mb16 {margin-bottom:16px}
  .mt16 {margin-top:16px}
  .mb18 {margin-bottom:18px}
  .mt18 {margin-top:18px}
  .mb20 {margin-bottom:20px}
  .mt20 {margin-top:20px}
  .mb21 {margin-bottom:21px}
  .mt21 {margin-top:21px}
  .mb22 {margin-bottom:22px}
  .mt22 {margin-top:22px}
  .mb24 {margin-bottom:24px}
  .mt24 {margin-top:24px}
  .mb26 {margin-bottom:26px}
  .mt26 {margin-top:26px}
  .mb28 {margin-bottom:28px}
  .mt28 {margin-top:28px}
  .mb30 {margin-bottom:30px}
  .mt30 {margin-top:30px}
  .mb32 {margin-bottom:32px}
  .mt32 {margin-top:32px}
  .mb34 {margin-bottom:34px}
  .mt34 {margin-top:34px}
  .mb36 {margin-bottom:36px}
  .mt36 {margin-top:36px}

  .mb1p {margin-bottom:1%}
  .mt1p {margin-top:1%}
  .mb2p {margin-bottom:2%}
  .mt2p {margin-top:2%}
  .mb3p {margin-bottom:3%}
  .mt3p {margin-top:3%}
  .mb4p {margin-bottom:4%}
  .mt4p {margin-top:4%}
  .mb5p {margin-bottom:5%}
  .mt5p {margin-top:5%}
  .mb6p {margin-bottom:6%}
  .mt6p {margin-top:6%}
  .mb8p {margin-bottom:8%}
  .mt8p {margin-top:8%}
  .mb10p {margin-bottom:10%}
  .mt10p {margin-top:10%}

  .ml2 {margin-left:2px}
  .mr2 {margin-right:2px}
  .ml4 {margin-left:4px}
  .mr4 {margin-right:4px}
  .ml5 {margin-left:5px}
  .mr5 {margin-right:5px}
  .ml6 {margin-left:6px}
  .mr6 {margin-right:6px}
  .ml8 {margin-left:8px}
  .mr8 {margin-right:8px}
  .ml10 {margin-left:10px}
  .mr10 {margin-right:10px}
  .ml12 {margin-left:12px}
  .mr12 {margin-right:12px}
  .ml16 {margin-left:16px}
  .mr16 {margin-right:16px}
  .ml18 {margin-left:18px}
  .mr18 {margin-right:18px}
  .ml20 {margin-left:20px}
  .mr20 {margin-right:20px}
  .ml22 {margin-left:22px}
  .mr22 {margin-right:22px}
  .ml24 {margin-left:24px}
  .mr24 {margin-right:24px}
  .ml26 {margin-left:26px}
  .mr26 {margin-right:26px}
  .ml28 {margin-left:28px}
  .mr28 {margin-right:28px}
  .ml30 {margin-left:30px}
  .mr30 {margin-right:30px}
  .ml32 {margin-left:32px}
  .mr32 {margin-right:32px}
  .ml34 {margin-left:34px}
  .mr34 {margin-right:34px}
  .ml36 {margin-left:36px}
  .mr36 {margin-right:36px}

  .ml1p {margin-left:1%}
  .mr1p {margin-right:1%}
  .ml2p {margin-left:2%}
  .mr2p {margin-right:2%}
  .ml4p {margin-left:4%}
  .mr4p {margin-right:4%}
  .ml5p {margin-left:5%}
  .mr5p {margin-right:5%}
  .ml6p {margin-left:6%}
  .mr6p {margin-right:6%}
  .ml8p {margin-left:8%}
  .mr8p {margin-right:8%}
  .ml10p {margin-left:10%}
  .mr10p {margin-right:10%}

  .pb { max-height: 100px; max-width: 150px; overflow: hidden;}
  .pb1 {padding-bottom:1px}
  .pt1 {padding-top:1px}
  .pb2 {padding-bottom:2px}
  .pt2 {padding-top:2px}
  .pb3 {padding-bottom:3px}
  .pt3 {padding-top:3px}
  .pb4 {padding-bottom:4px}
  .pt4 {padding-top:4px}
  .pb6 {padding-bottom:6px}
  .pt6 {padding-top:6px}
  .pb8 {padding-bottom:8px}
  .pt8 {padding-top:8px}
  .pb10 {padding-bottom:10px}
  .pt10 {padding-top:10px}
  .pb12 {padding-bottom:12px}
  .pt12 {padding-top:12px}
  .pb16 {padding-bottom:16px}
  .pt16 {padding-top:16px}
  .pb18 {padding-bottom:18px}
  .pt18 {padding-top:18px}
  .pb20 {padding-bottom:20px}
  .pt20 {padding-top:20px}
  .pb22 {padding-bottom:22px}
  .pt22 {padding-top:22px}
  .pb24 {padding-bottom:24px}
  .pt24 {padding-top:24px}
  .pb26 {padding-bottom:26px}
  .pt26 {padding-top:26px}
  .pb28 {padding-bottom:28px}
  .pt28 {padding-top:28px}
  .pb30 {padding-bottom:30px}
  .pt30 {padding-top:30px}
  .pb32 {padding-bottom:32px}
  .pt32 {padding-top:32px}
  .pb34 {padding-bottom:34px}
  .pt34 {padding-top:34px}
  .pb36 {padding-bottom:36px}
  .pt36 {padding-top:36px}

  .pl4 {padding-left:4px}
  .pr4 {padding-right:4px}
  .pl6 {padding-left:6px}
  .pr6 {padding-right:6px}
  .pl8 {padding-left:8px}
  .pr8 {padding-right:8px}
  .pl10 {padding-left:10px}
  .pr10 {padding-right:10px}
  .pl12 {padding-left:12px}
  .pr12 {padding-right:12px}
  .pl16 {padding-left:16px}
  .pr16 {padding-right:16px}
  .pl18 {padding-left:18px}
  .pr18 {padding-right:18px}
  .pl20 {padding-left:20px}
  .pr20 {padding-right:20px}
  .pl22 {padding-left:22px}
  .pr22 {padding-right:22px}
  .pl24 {padding-left:24px}
  .pr24 {padding-right:24px}
  .pl26 {padding-left:26px}
  .pr26 {padding-right:26px}
  .pl28 {padding-left:28px}
  .pr28 {padding-right:28px}
  .pl30 {padding-left:30px}
  .pr30 {padding-right:30px}
  .pl32 {padding-left:32px}
  .pr32 {padding-right:32px}
  .pl34 {padding-left:34px}
  .pr34 {padding-right:34px}
  .pl36 {padding-left:36px}
  .pr36 {padding-right:36px}
  .pl70 {padding-left:70px;}

  /*widths heights*/
  .h100 {height:100% !important}
  .w100 {width:100% !important}
  .h80 {height:80% !important}
  .w80 {width:80% !important}
  .h75 {height:75% !important}
  .w75 {width:75% !important}
  .h60 {height:60% !important}
  .w60 {width:60% !important}
  .h50 {height:50% !important}
  .w50 {width:50% !important}
  .h40 {height:40% !important}
  .w40 {width:40% !important}
  .h30 {height:30% !important}
  .w30 {width:30% !important}
  .h20 {height:20% !important}
  .w20 {width:20% !important}
  .h15 {height:15% !important}
  .w15 {width:15% !important}
  .h10 {height:10% !important}
  .w10 {width:10% !important}
  .h5 {height:5% !important}
  .w5 {width:5% !important}

  /*-- end common classes --*/

  /* page navigator */

  .pagination {
  height: 36px;
  margin: 18px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
  display: inline;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}

.pagination .active a {
  color: #999999;
  cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pager {
  margin-bottom: 18px;
  margin-left: 0;
  text-align: center;
  list-style: none;
  *zoom: 1;
}

.pager:before,
.pager:after {
  display: table;
  content: "";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

.pager .next a {
  float: right;
}

.pager .previous a {
  float: left;
}

.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
  cursor: default;
  background-color: #fff;
}

  /* page nav link */

  .page-nav {
    display:block;
    clear:both;
    margin: 2.6em 0 0 0;
  }

  .pn-l,.pn-l:link,.pn-l:visited {
    color: #000;
    display: inline-block;
    font-size: 1.6em;
    line-height: 100%;
    margin: 0 0 0 .4em;
    padding: .15em .4em;
    vertical-align: middle;
  }

  .pn-l-a,.pn-l-a:link,.pn-l-a:visited,.pn-l:hover {
    background-color: #FCD51E;
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }

  .pn-l-lr,.pn-l-lr:link,.pn-l-lr:visited {
    background:none;
    font-size: 1.8em;
    padding: .15em .3em .25em .3em;
    text-decoration: none;
  }

  .pn-l-lr:hover {background-color: #FCD51E}

  .pn-l-t,.pn-l-t:link ,.pn-l-t:visited {
    font-size: 1.3em;
  }

  .pn-l-t:hover {
     background:none;
     font-weight: normal
  }


  /* end page navigator */

} /*end screen*/


/** ������ ��� ������ */
a.button {
    background: transparent url('/images/legacy/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('/images/legacy/bg_button_span.gif') no-repeat;
    display: block;
    cursor:hand;
    text-align:center;
    line-height: 14px;
    padding: 5px 0 5px 18px;

}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

.bums {
    background-image: url(/images/legacy/fon_resize.jpg);
}

.debug {
    background-color: #ff0000 !important;
}
@media print {

}

.msTable {
    width:100%;
    border: 1px #000 solid;
    background-color: #fff;
}

.msTable td {
    font-size: 1.3em;
    border: 1px #000 solid;
    text-align: left;
    padding: .85em .8em;
}

.msTable th {
    font-size: 1.3em;
    font-weight: bold;
    border: 1px #000 solid;
    background-color: #FFCC00;
    text-align: left;
    padding: .85em .8em;
}

.msTable.mol-spec th {
    text-align: center;
}

.msTable td.subtitle {
    font-size: 1.3em;
    font-weight: bold;
    border: 1px #000 solid;
    background-color: #e5e5e5;
    text-align: center;
    padding: .85em .8em;
}

.flatTable td {
    padding: 0;
    margin: 0;
}

.emp-old-subname {
    font-size:13px;
    margin: 10px 0;
}
.emp-old-subname .emp-old-subname-title{font-weight:bold; }
.emp-old-subname .emp-old-subname-items{padding: 5px 0 0 0;}
.emp-old-subname .emp-old-subname-items .emp-old-subname-items-item{padding: 5px 0 0 0;}

.phones-book tr.struct-level td{font-weight:bold; background: #DD9;}
.phones-book tr.level0 td{padding-left:20px; }
.phones-book tr.level1 td{padding-left:50px; }
.phones-book tr.level2 td{padding-left:80px; }
.phones-book tr.level3 td{padding-left:110px; }
.phones-book tr.level4 td{padding-left:140px; }